---
import MegaMenu from "../../components/MegaMenu.astro";

import MainButton from "../../components/MainButton.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import FAQS from "../../components/FAQS.astro";
import AsesoriaEspecialidades from "../../components/AsesoriaEspecialidades.astro";
const title = "Nuestras Marcas en Motor";
---

<MainLayout title={title}>


  <MegaMenu positionNav="sticky" bgNav="lg:bg-naranja sm:bg-naranja"/>

  <div class="">
    <div class="flex items-center justify-center flex-wrap sm:p-8 md:flex-row sm:flex-col-reverse bg-cover content-center" style="background-image: url(/public/img/banner-especialidades.jpg);">
      <img class="animacion from-left md:w-[250px] lg:w-[440px] xl:w-auto  h-auto" src="/public/img/EJE-DELANTERO.webp" alt="">
      <h1 class="animacion from-left text-white text-center xl:text-[150px] lg:text-[100px] sm:text-[70px] slide-main--heading lg:leading-none sm:leading-2 titulos uppercase drop-shadow-lg w-auto"><span class="text-naranja xl:text-[120px] lg:text-[75px] sm:text-[30px] bg-white px-8" style="text-shadow: 2px 1px 0px rgba(0,0,0,1);">ESPECIALIDAD</span> <br>EJE DELANTERO</h1>
      </div>
    
      <div
        class="flex justify-center flex-col text-center lg:w-[1000px] sm:w-auto lg:mx-auto sm:mx-4 lg:my-12 sm:my-4"
      >
    
      <div class="mb-12">
        <p class="text-justify font-bold animacion from-left">
          Componentes esenciales para mantener la estabilidad, dirección y seguridad de tu vehículo. Incluyen partes como rodamientos, juntas, y sistemas de suspensión, todos diseñados para soportar el peso del vehículo y asegurar una conducción suave y segura.
          En Fertrac, ofrecemos una amplia gama de repuestos de eje delantero de las mejores marcas del mercado. Garantizamos calidad y durabilidad en cada producto, asegurando que tu vehículo funcione de manera óptima y segura. 
    
        </p>
      </div>
    
          <div class="animacion from-left logos flex flex-wrap justify-center items-center lg:gap-28 sm:gap-8 mx-auto">
            <img src="/public/img/dana-spicer.png" alt="" />
            <img src="/public/img/dana-spicer-select.png" alt="" />
            <img  src="/public/img/skf.png" alt="" />
            <img src="/public/img/elgin.png" alt="" />
            <img src="/public/img/meritor.png" alt="" />
            <img src="/public/img/stemco.png" alt="" />
            <img  src="/public/img/timken.png" alt="" />

          <div class="grid  lg:grid-cols-1 xl:grid-cols-3 gap-8 mx-auto mt-16 sm:grid-cols-1">
            <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center col-start-2">
              <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4">EMPAQUETADURAS CAJAS DE DIRECCIÓN</span>
              <img src="/public/img/transtec.png" alt="">
            </div>
          </div> 
          
          
          
      </div>
  </div>

  <AsesoriaEspecialidades/>
  </div>
  </div>




</MainLayout>
<style>
.animacion img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    .animacion img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    .animacion img {
        width: 14rem;
    }
  }

  .animacion{
   transition: opacity 0s ease, filter 0.5s ease; 
   animation: fadeInUp 1s ease forwards; 
   animation-delay: 1s;
}

.from-left {
  opacity: 0;
  filter: blur(4px); 
  animation: fadeInLeft 2s ease forwards;
  animation-delay: 0.8s; 
}



  @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
}
100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}
}




</style>