---
import MegaMenu from "../../components/MegaMenu.astro";

import MainButton from "../../components/MainButton.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import FAQS from "../../components/FAQS.astro";
const title = "Nuestras Marcas en Motor";
---

<MainLayout title={title}>
  <MegaMenu positionNav="sticky" bgNav="lg:bg-transparent sm:bg-naranja"/>
  <div class="lg:h-[500px] sm:h-[300px]  flex justify-center items-center  sm:p-8 bg-cover" style="background-image: url(/public/img/especialidades-motor.jpg);">
<!--     <h1 class="text-white text-center lg:text-8xl sm:text-[34px] slide-main--heading lg:leading-none sm:leading-2 lg:w-3/4 sm:w-full from-left titulos uppercase drop-shadow-lg;">Completa gama de repuestos de alta calidad para motores de tractocamiones.</h1> -->
  </div>

  <div
    class="flex justify-center flex-col text-center lg:w-[1000px] sm:w-auto lg:mx-auto sm:mx-4 lg:my-12 sm:my-4"
  >

  <div class="mb-12">
    <h2 class="mb-4">Motor</h2>
    <p class="text-justify font-bold">
      componentes cruciales que garantizan el funcionamiento eficiente y prolongado del corazón de tu vehículo. Estos incluyen piezas como pistones, anillos, juntas, bujías y filtros, diseñadas para mantener el motor en óptimas condiciones y maximizar su rendimiento.
En Fertrac, ofrecemos una amplia gama de repuestos de motor de las mejores marcas del mercado. Nos comprometemos a proporcionar productos de alta calidad y durabilidad, asegurando que tu motor funcione de manera óptima y fiable.

    </p>
  </div>

      <div class="logos flex flex-wrap justify-center items-center lg:gap-28 sm:gap-8 mx-auto">
        <img src="/public/img/cummins-meritor.png" alt="" />
      <img src="/public/img/tyj.png" alt="" />
      <img src="/public/img/freightliner.png" alt="" />
      <img src="/public/img/victor-reinz.png" alt="" />
      <img src="/public/img/sbi.png" alt="" />
      <img src="/public/img/interstate-mcbee.png" alt="" />
      <img src="/public/img/elgin.png" alt="" />
      <img src="/public/img/pai.png" alt="" />
      <img src="/public/img/qualcast.png" alt="" />
      <img src="/public/img/mahle.png" alt="" />
      <img src="/public/img/clevite.png" alt="" />
      <img src="/public/img/sprague.png" alt="" />
      </div>
      
      <div class="grid lg:grid-cols-2 xl:grid-cols-4 gap-8 mx-auto mt-16 sm:grid-cols-1">
        <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4">TURBO CARGADORES</span>
          <img src="/public/img/borgwarner.png" alt="">
        </div>
  
        <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4">TENSORES Y POLEAS</span>
          <img src="/public/img/dayco.png" alt="">
        </div>
  
        <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4">ABRAZADERAS DE EXOSTO</span>
          <img src="/public/img/torctite.png" alt="">
        </div>
  
        <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4">COMPRESORES DE AIRE ACONDICIONADO</span>
          <img src="/public/img/alliance.png" alt="">
        </div>
      </div>
      
  </div>
  </div>

    <FAQS/>

  </div>




</MainLayout>
<style>
img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    img {
        width: 14rem;
    }
  }
</style>