---
import MegaMenu from "../../components/MegaMenu.astro";

import BotonPrincipal from "../../components/BotonPrincipal.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import FAQS from "../../components/FAQS.astro";
import AsesoriaEspecialidades from "../../components/AsesoriaEspecialidades.astro";

const title = "Motor: Potencia y Rendimiento";
const description = "Contamos con repuestos originales y de alta calidad para motores, garantizando un rendimiento excepcional y una larga vida útil para tus tractocamiones.";
---

<MainLayout title={title} descripción={description}>

  <div class="">
    <div class="flex items-center justify-center flex-wrap sm:p-8 md:flex-row sm:flex-col-reverse bg-cover content-center" style="background-image: url(/public/img/banner-especialidades.jpg);">

      <div class="flex items-center justify-center sm:flex-col-reverse md:flex-row mt-[150px]">
        <img class="animacion from-left md:w-[250px] lg:w-[440px] xl:w-auto  h-auto" src="/public/img/MOTOR.webp" alt="">
        <h1 class="animacion from-left w-min text-white text-center xl:text-[100px] lg:text-[75px] sm:text-[40px] slide-main--heading lg:leading-none sm:leading-2 titulos uppercase drop-shadow-lg w-auto"><span class="text-naranja xl:text-[100px] lg:text-[75px] sm:text-[40px] bg-white px-8" style="text-shadow: 2px 1px 0px rgba(0,0,0,1);">ESPECIALIDAD</span> <br> MOTOR.</h1>
      </div>
      
      </div>
    
      <div
        class="flex justify-center flex-col text-center lg:w-[1000px] sm:w-auto lg:mx-auto sm:mx-4 lg:my-12 sm:my-4"
      >
    
      <div class="mb-12">
        <p class="text-justify font-bold animacion from-left">
          El corazón de cualquier vehículo. No solo da vueltas a las llantas, además genera el poder necesario para todos los demás sistemas del vehículo. 
Con el tiempo estos sistemas se han mejorado en potencia, durabilidad, eficiencia, precisión y emisiones. Buscamos siempre repuestos para toda la gama de motores que se encuentran en el mercado. 
Podrás encontrar componentes como reparaciones completas o parciales de motor (overhaules), turbos, pistones, camisas, anillos, empaquetaduras, filtros, culatas completas y cada pieza que los compone. Piezas diseñadas para mantener el motor en óptimas condiciones y maximizar su rendimiento.
En Fertrac, ofrecemos una amplia gama de repuestos de motor de las mejores marcas del mercado. Nos comprometemos a proporcionar productos de alta calidad y durabilidad, asegurando que tu motor funcione de manera óptima y fiable.

        </p>
      </div>
    
          <div class="animacion from-left logos flex flex-wrap justify-center items-center lg:gap-28 sm:gap-8 mx-auto">
            <img src="/public/img/cummins-meritor.png" alt="" />
          <img src="/public/img/tyj.png" alt="" />
          <img src="/public/img/freightliner.png" alt="" />
          <img src="/public/img/victor-reinz.png" alt="" />
          <img src="/public/img/sbi.png" alt="" />
          <img src="/public/img/interstate-mcbee.png" alt="" />
          <img src="/public/img/elgin.png" alt="" />
          <img src="/public/img/pai.png" alt="" />
          <img src="/public/img/pai-genuine.png" alt="">
          <img src="/public/img/qualcast.png" alt="" />
          <img src="/public/img/mahle.png" alt="" />
          <img src="/public/img/clevite.png" alt="" />
          <img src="/public/img/sprague.png" alt="" />

          <div class="grid lg:grid-cols-2 xl:grid-cols-4 gap-8 mx-auto mt-16 sm:grid-cols-1">
            <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
              <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4 font-myriad">TURBO CARGADORES</span>
              <img src="/public/img/borgwarner.png" alt="">
            </div>
      
            <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
              <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4 font-myriad">TENSORES Y POLEAS</span>
              <img src="/public/img/dayco.png" alt="">
            </div>
      
            <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
              <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4 font-myriad" >ABRAZADERAS DE EXOSTO</span>
              <img src="/public/img/torctite.png" alt="">
            </div>
      
            <div class="lg:text-xl sm:text-base font-bold flex flex-col lg:gap-4 sm:gap-0 items-center">
              <span class="bg-azul text-white lg:px-4 lg:py-4 sm:px-2 sm:py-2 sm:mb-4 font-myriad">COMPRESORES DE AIRE ACONDICIONADO</span>
              <img src="/public/img/alliance.png" alt="">
            </div>
          </div>
          </div>
          
          
          
      </div>
  </div>

  <AsesoriaEspecialidades/>
  </div>
  </div>




</MainLayout>
<style>
.animacion img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    .animacion img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    .animacion img {
        width: 14rem;
    }
  }

  .animacion{
   transition: opacity 0s ease, filter 0.5s ease; 
   animation: fadeInUp 1s ease forwards; 
   animation-delay: 1s;
}

.from-left {
  opacity: 0;
  filter: blur(4px); 
  animation: fadeInLeft 2s ease forwards;
  animation-delay: 0.8s; 
}



  @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
}
100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}
}




</style>