---
import MegaMenu from "../../components/MegaMenu.astro";
import LayoutSimple from "../../layouts/LayoutSimple.astro";
import MainButton from "../../components/MainButton.astro";
import MainLayout from "../../layouts/MainLayout.astro";
const title = "Nuestras Marcas en Motor";
---

<MainLayout title={title}>

  <MegaMenu positionNav="fixed" bgNav="bg-naranja"/>

  <div class="lg:h-[500px] flex justify-center items-center sm:mt-[90px] sm:p-8" style="background-image: url(/public/img/especialidades-motor.jpg);">
    <h1 class="text-white text-center lg:text-8xl sm:text-[34px] slide-main--heading lg:leading-none sm:leading-2 lg:w-3/4 sm:w-full from-left titulos uppercase drop-shadow-lg;">Completa gama de repuestos de alta calidad para motores de tractocamiones.</h1>
  </div>

  <div
    class="flex justify-center flex-col text-center lg:w-[1500px] sm:w-auto lg:mx-auto sm:mx-8 my-12"
  >
      <div class="logos flex flex-wrap justify-between items-center lg:gap-28 sm:gap-8 mx-auto">
        <img src="/public/img/cummins-meritor.png" alt="" />
      <img src="/public/img/tyj.png" alt="" />
      <img src="/public/img/freightliner.png" alt="" />
      <img src="/public/img/victor-reinz.png" alt="" />
      <img src="/public/img/sbi.png" alt="" />
      <img src="/public/img/interstate-mcbee.png" alt="" />
      <img src="/public/img/elgin.png" alt="" />
      <img src="/public/img/pai.png" alt="" />
      <img src="/public/img/qualcast.png" alt="" />
      <img src="/public/img/mahle.png" alt="" />
      <img src="/public/img/clevite.png" alt="" />
      <img src="/public/img/sprague.png" alt="" />
      </div>
      
      <div class="grid lg:grid-cols-4 gap-8 mx-auto mt-16 sm:grid-cols-1">
        <div class="lg:text-2xl sm:text-base font-bold flex flex-col lg:gap-8 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-8 sm:px-2 lg:py-8 lg:mb-12 sm:py-2 sm:mb-4">TURBO CARGADORES</span>
          <img src="/public/img/borgwarner.png" alt="">
        </div>
  
        <div class="lg:text-2xl sm:text-base font-bold flex flex-col lg:gap-8 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-8 sm:px-2 lg:py-8 lg:mb-12 sm:py-2 sm:mb-4">TENSORES Y POLEAS</span>
          <img src="/public/img/dayco.png" alt="">
        </div>
  
        <div class="lg:text-2xl sm:text-base font-bold flex flex-col lg:gap-8 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-8 sm:px-2 lg:py-8 lg:mb-12 sm:py-2 sm:mb-4">ABRAZADERAS DE EXOSTO</span>
          <img src="/public/img/torctite.png" alt="">
        </div>
  
        <div class="lg:text-2xl sm:text-base font-bold flex flex-col lg:gap-8 sm:gap-0 items-center">
          <span class="bg-azul text-white lg:px-8 sm:px-2 lg:py-8 lg:mb-12 sm:py-2 sm:mb-4">COMPRESORES DE AIRE ACONDICIONADO</span>
          <img src="/public/img/alliance.png" alt="">
        </div>
      </div>
      
  </div>
  </div>




  <div>
    <section class="text-gray-700 text-left">
      <div class="container px-5 lg:py-24 sm:py-0 mx-auto">
        <div class="text-center lg:mb-20 sm:mb-4">
          <h2 class="text-center text-azul">
            Preguntas Frecuentes
          </h2>
          <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
            The most common questions about how our business works and what
            can do for you.
          </p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="w-full lg:w-1/2 px-4 pt-2 lg:pb-2">
            <details class="mb-4">
              <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
                How Long is this site live?
              </summary>
  
              <span>
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
            <details class="mb-4">
              <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
                Can I install/upload anything I want on there?
              </summary>
  
              <span>
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
            <details class="mb-4">
              <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                How can I migrate to another site?
              </summary>
  
              <span>
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
          </div>
          <div class="w-full lg:w-1/2 px-4 pb-2 lg:pt-2">
            <details class="mb-4">
              <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                Can I change the domain you give me?
              </summary>
  
              <span class="px-4 py-2">
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
            <details class="mb-4">
              <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                How many sites I can create at once?
              </summary>
  
              <span class="px-4 py-2">
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
            <details class="mb-4">
              <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                How can I communicate with you?
              </summary>
  
              <span class="px-4 py-2">
                Laboris qui labore cillum culpa in sunt quis sint veniam.
                Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                minim velit nostrud pariatur culpa magna in aute.
              </span>
            </details>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>

  <section>
    <div
        class="w-full flex justify-center items-center sm:p-8 lg:py-12 flex-wrap lg:gap-16 bg-cover bg-center h-2/4 bg-slate-800 my-16"
        style="background-image: url(/public/img/asesoria.jpg"
    >
        <div class="text-left">
            <h2 class="text-white">
                ¿Tienes alguna duda o necesitas Asesoria?
            </h2>
            <p class="text-white py-4">
                ¡Nos encantaría saber de ti! Si tienes alguna pregunta,
                comentario o sugerencia, no dudes en ponerte en contacto con
                nosotros.
            </p>
        </div>

        <MainButton url="https://api.whatsapp.com/send?phone=573058716393" text="Preguntar a Asesor" estilos="bg-naranja hover:bg-transparent hover:text-white hover:border text-white mr-2 " icon="fa-solid fa-headset"/>
    </div>
</section>



</MainLayout>
<style>
img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    img {
        width: 14rem;
    }
  }
</style>