---
import MegaMenu from "../../components/MegaMenu.astro";

import MainButton from "../../components/MainButton.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import FAQS from "../../components/FAQS.astro";
const title = "Nuestras Marcas en Motor";
---

<MainLayout title={title}>

  <MegaMenu positionNav="sticky" bgNav="bg-naranja"/>

  <div class="lg:h-[500px] sm:h-[300px]  flex justify-center items-center  sm:p-8 bg-cover" style="background-image: url(/public/img/especialidades-motor.jpg);">
<!--     <h1 class="text-white text-center lg:text-8xl sm:text-[34px] slide-main--heading lg:leading-none sm:leading-2 lg:w-3/4 sm:w-full from-left titulos uppercase drop-shadow-lg;">Completa gama de repuestos de alta calidad para motores de tractocamiones.</h1> -->
  </div>

  <div
    class="flex justify-center flex-col text-center lg:w-[1000px] sm:w-auto lg:mx-auto sm:mx-4 lg:my-12 sm:my-4"
  >

  <div class="mb-12">
    <h2 class="mb-4">Rodamientos</h2>
    <p class="text-justify font-bold">
      Componentes esenciales para reducir la fricción y permitir el movimiento suave y eficiente de las partes móviles de tu vehículo. Estos incluyen rodamientos de ruedas, rodamientos de transmisión, y rodamientos de embrague, diseñados para soportar cargas y mejorar el rendimiento general del vehículo.
En Fertrac, ofrecemos una amplia gama de repuestos de rodamientos de las mejores marcas del mercado. Nos comprometemos a proporcionar productos de alta calidad y durabilidad, asegurando que tu vehículo funcione de manera óptima y fiable.



    </p>
  </div>

      <div class="logos flex flex-wrap justify-center items-center lg:gap-28 sm:gap-8 mx-auto">

        <img class="w-56" src="/public/img/timken.png" alt="" />
        <img class="w-56" src="/public/img/fersa.png" alt="" />
        <img class="w-56" src="/public/img/meritor.png" alt="" />
        <img class="w-56" src="/public/img/link-belt.png" alt="" />
        <img class="w-56" src="/public/img/skf.png" alt="" />
      </div>

      
  </div>
  </div>

    <FAQS/>

  </div>




</MainLayout>
<style>
img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    img {
        width: 14rem;
    }
  }
</style>

