---
import Layout from "../components/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Marcas from "../components/Marcas.astro";
import MainButton from "../components/MainButton.astro";
import Blog from "../components/Blog.astro";
import Boton2 from "../components/Boton2.astro";
---

<Layout title="Index">

    <header>
        <Navbar />

        <div class="carousel">
            <!-- list item -->
            <div class="list">
                <div class="item">
                    <img src="/public/img/1.jpg" />
                    <div
                        class="content pr-64 sm:pr-4 sm:top-32 md:top-34 lg:top-48"
                    >
                        <div
                            class="author sm:hidden md:block md:tracking-[10px] sm:tracking-wide xl:w-3/6 "
                        >
                            SIEMPRE CALIDAD ORIGINAL
                        </div>
                        <div
                            class="title font-myriad leading-tight sm:text-3xl md:text-4xl xl:w-4/6 xl:text-7xl"
                        >
                        <h1>Venta de Repuestos ORIGINALES para tractocamiones</h1>
                            
                        </div>
                        <div
                            class="des font-lato text-base pr-96 sm:pr-4 xl:w-3/6 sm: leading-4 xl:text-2xl"
                        >
                            <p>Somos tu destino confiable para encontrar los repuestos de calidad que necesitas para mantener tus tractocamiones en óptimas condiciones.</p>
                        </div>
                        <div class="buttons gap-x-14 sm:gap-x-8">
                            <MainButton
                                textoBoton="Productos"
                                iconoBoton="fa-solid fa-gear text-lg text-naranja"
                            />
                           
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/public/img/2.jpg" />
                    <div class="content">
                        <div class="author">SIEMPRE CALIDAD ORIGINAL</div>
                        <div class="title">
                            Repuestos ORIGINALES para tractocamiones
                        </div>
                        <div class="des">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ut sequi, rem magnam nesciunt minima placeat,
                            itaque eum neque officiis unde, eaque optio ratione
                            aliquid assumenda facere ab et quasi ducimus aut
                            doloribus non numquam. Explicabo, laboriosam nisi
                            reprehenderit tempora at laborum natus unde. Ut,
                            exercitationem eum aperiam illo illum laudantium?
                        </div>
                        <div class="buttons">
                            <MainButton textoBoton="Texto2" />
                            <button>BLOG</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/public/img/3.jpg" />
                    <div class="content">
                        <div class="author">SIEMPRE CALIDAD ORIGINAL</div>
                        <div class="title">
                            Repuestos ORIGINALES para tractocamiones
                        </div>
                        <div class="des">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ut sequi, rem magnam nesciunt minima placeat,
                            itaque eum neque officiis unde, eaque optio ratione
                            aliquid assumenda facere ab et quasi ducimus aut
                            doloribus non numquam. Explicabo, laboriosam nisi
                            reprehenderit tempora at laborum natus unde. Ut,
                            exercitationem eum aperiam illo illum laudantium?
                        </div>
                        <div class="buttons">
                            <MainButton textoBoton="Texto2" />
                            <button>BLOG</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/public/img/2.jpg" />
                    <div class="content">
                        <div class="author">SIEMPRE CALIDAD ORIGINAL</div>
                        <div class="title">
                            Repuestos ORIGINALES para tractocamiones
                        </div>
                        <div class="des">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ut sequi, rem magnam nesciunt minima placeat,
                            itaque eum neque officiis unde, eaque optio ratione
                            aliquid assumenda facere ab et quasi ducimus aut
                            doloribus non numquam. Explicabo, laboriosam nisi
                            reprehenderit tempora at laborum natus unde. Ut,
                            exercitationem eum aperiam illo illum laudantium?
                        </div>
                        <div class="buttons">
                            <MainButton textoBoton="Texto2" />
                            <button>BLOG</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list thumnail -->
            <div
                class="thumbnail absolute bottom-20 left-1/2 w-max z-10 flex gap-x-5 sm:bottom-8 xl:"
            >
                <div class="item 2xl:w-40 2xl:h-60 sm:w-36 sm:h-56 relative">
                    <img
                        src="/public/img/1.jpg"
                        class="w-full h-full object-cover rounded-2xl shadow-[0_3px_10px_rgb(0,0,0,0.2)]"
                    />
                    <div
                        class="content text-white absolute bottom-2.5 left-2.5 right-2.5"
                    >
                        <div class="title font-medium">Name Slider</div>
                        <div class="description font-light">Description</div>
                    </div>
                </div>
                <div class="item 2xl:w-40 2xl:h-60 sm:w-36 sm:h-56 relative">
                    <img
                        src="/public/img/2.jpg"
                        class="w-full h-full object-cover rounded-2xl shadow-[0_3px_10px_rgb(0,0,0,0.2)]"
                    />
                    <div
                        class="content text-white absolute bottom-2.5 left-2.5 right-2.5"
                    >
                        <div class="title font-medium">Name Slider</div>
                        <div class="description font-light">Description</div>
                    </div>
                </div>
                <div class="item 2xl:w-40 2xl:h-60 sm:w-36 sm:h-56 relative">
                    <img
                        src="/public/img/3.jpg"
                        class="w-full h-full object-cover rounded-2xl shadow-[0_3px_10px_rgb(0,0,0,0.2)]"
                    />
                    <div
                        class="content text-white absolute bottom-2.5 left-2.5 right-2.5"
                    >
                        <div class="title font-medium">Name Slider</div>
                        <div class="description font-light">Description</div>
                    </div>
                </div>
            </div>
            <!-- next prev -->

            <div class="arrows">

                <button
                    id="prev"
                    class="group flex items-center justify-center w-11 h-11 bg-white rounded-full cursor-pointer relative overflow-hidden transition-all duration-700 shadow-lg hover:bg-white xl:hover:w-32 xl:hover:rounded-lg"
                >
                    <div
                        class="flex items-center justify-center w-full transition-all duration-700 group-hover:justify-start group-hover:px-3 flex-row-reverse"
                    >
                        <i
                            class="fa-regular fa-circle-left text-xl text-naranja"
                        ></i>
                    </div>
                    <div
                        class="absolute text-naranja left-5 transform translate-x-full opacity-0 text-lg font-semibold transition-all duration-700 group-hover:translate-x-0 xl:group-hover:opacity-100
                        sm:group-hover:opacity-0"
                    >
                        Anterior
                    </div>
                </button>
                
                <button
                    id="next"
                    class="group flex items-center justify-center w-11 h-11 bg-white rounded-full cursor-pointer relative overflow-hidden transition-all duration-700 shadow-lg hover:bg-white xl:hover:w-32"
                >
                    <div
                        class="flex items-center justify-center w-full transition-all duration-700 group-hover:justify-start group-hover:px-3 flex-row-reverse"
                    >
                        <i
                            class="fa-regular fa-circle-right text-xl text-naranja"
                        ></i>
                    </div>
                    <div
                        class="absolute text-naranja left-5 transform translate-x-full opacity-0 text-lg font-semibold transition-all duration-700 group-hover:translate-x-0 xl:group-hover:opacity-100
                        sm:group-hover:opacity-0"
                    >
                        Siguiente
                    </div>
                </button>

                

                <!-- <div class="arrows">
                <button id="prev"
                    ><i class="fa-solid fa-chevron-left"></i></button
                >
                <button id="next"
                    ><i class="fa-solid fa-chevron-right"></i></button
                >
            </div> -->
            </div>
        </div>

    </header>

    <main>

        <!-- SLIDER PROVEEDORES -->
        <section class="marcas py-6">
            <Marcas />
        </section>

        <!-- FERTRAC -->
        <section>
            <div
                class="flex items-center justify-center gap-x-20 sm:px-8"
            >
                <div class="sm:w-32 sm:pb-4 lg:w-72 lg:py-16" >
                    <img
                        src="/public/img/iso web-8.png"
                        alt=""
                        class=""
                    />
                </div>
                <div class="w-2/6 sm:w-full lg:w-2/4">
                    <h2 class="font-myriad text-3xl sm:pb-4">
                        En Fertrac, entendemos la importancia de la fiabilidad y la eficiencia en el mundo del transporte de carga.
                    </h2>
                    <p class="text-lg sm:pb-4 text-gray-600">
                        Es por eso que nos comprometemos a proporcionar repuestos duraderos y de alta calidad que te ayudarán a maximizar el rendimiento y la vida útil de tus vehículos.
                        <br>
                        <br>
                        Nuestro equipo está compuesto por expertos en la industria que están aquí para asistirte en cada paso del camino. Ya sea que necesites asesoramiento sobre qué repuesto es el adecuado para tu vehículo o asistencia con la instalación, estamos aquí para ayudarte.
     
                    </p>

                </div>
            </div>
        </section>

        <!-- NUEVOS ESPECIALIDADES -->
        <section class="">
            <div
                class="bg-white rounded-xl shadow-md overflow-hidden w-full bg-gradient-to-r from-orange-600 to-yellow-300"
            >
                <div class="md:flex md:w-full">
                    <div class="md:shrink-0 md:w-6/12">
                        <img
                            class="h-48 w-full object-cover md:h-full md:w-full"
                            src="/public/img/Fertrac.jpg"
                            alt="Modern building architecture"
                        />
                    </div>
                    <div
                        class="p-56 flex flex-col justify-center gap-5 2xl: p-24 sm:p-8"
                    >

                        <h2 class="font-myriad font-extrabold text-5xl text-white font-semibold w-4/5 sm:w-full sm:text-3xl">Explora Nuestra Selección De Especialidades
                            Preparadas Para Ti</h2>

                        <p
                            class="text-xl w-7/12 w-4/5 sm: w-auto sm:w-full text-slate-200"
                        >
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Dolorum, enim sunt odit,
                            nihil eius non quod maxime doloribus officia
                            fuga recusandae, reprehenderit quis deleniti
                            perferendis.
                        </p>
                        <Boton2
                            textoBoton="Ver Especialidades"
                            iconoBoton="fa-regular fa-paper-plane text-naranja"
                        />
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICIOS FT -->
        <section>
            <div class="flex flex-wrap items-center justify-center">
                <div
                    class="flex flex-col justify-center items-center text-center w-full sm:p-8"
                >
                    <div
                        class="font-myriad font-extrabold text-3xl text-azul text-left"
                    >
                    <h2>
                        Ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades relacionadas con los tractocamiones.
                    </h2>
                    
                    </div>
                    <p class="mt-2 text-xl w-3/4 sm:w-auto sm:text-left text-gray-600">
                        Desde la venta de repuestos de alta calidad hasta servicios de mantenimiento y asesoramiento técnico
                    </p>
                </div>
                <div
                    class="flex-shrink-0 m-6 relative overflow-hidden bg-naranja rounded-lg max-w-xs shadow-lg"
                >
                    <div
                        class="relative flex items-center justify-center"
                    >
                        <img
                            class="relative w-full"
                            src="/public/img/mecanica.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                ASESORIA TECNICA
                            </h3>
                            <p class="sm:text-sm">
                                Nuestro equipo de expertos en asesoría técnica está aquí para brindarte el conocimiento y la orientación necesarios para resolver cualquier problema o duda que puedas tener.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-shrink-0 m-6 relative overflow-hidden bg-naranja rounded-lg max-w-xs shadow-lg"
                >
                    <div
                        class="relative flex items-center justify-center"
                    >
                        <img
                            class="relative w-full"
                            src="/public/img/Fertrac.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                GESTION DE GARANTIAS
                            </h3>

                            <p class="sm:text-sm">
                                Nuestro equipo especializado en gestión de garantías está comprometido en garantizar que tus reclamaciones sean procesadas de manera rápida, eficiente y sin complicaciones
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-shrink-0 m-6 relative overflow-hidden bg-naranja rounded-lg max-w-xs shadow-lg"
                >
                    <div
                        class="relative flex items-center justify-center"
                    >
                        <img
                            class="relative w-full"
                            src="/public/img/Fertrac.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                PRODUCTOS DE CALIDAD
                            </h3>
                            <p class="sm:text-sm">
                                Nos enorgullecemos de ser productores de calidad en la industria de repuestos para tractocamiones. Nos esforzamos por ofrecer productos que superen las expectativas de nuestros clientes en términos de durabilidad, rendimiento y fiabilidad
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div
                class="w-full flex justify-center items-center py-12 flex-wrap gap-4 bg-cover bg-center h-2/4 bg-slate-800" style="background-image: url(/public/img/asesoria.jpg"
            >
                <div class="">
                    <h2 class="font-myriad text-white text-3xl px-12">
                        ¿Tienes alguna duda o necesitas Asesoria?
                    </h2>
                </div>

                <div>
                    <Boton2
                        textoBoton="Llamanos"
                        iconoBoton="fa-solid fa-phone"
                    />
                    <br />
                    <Boton2
                        textoBoton="Escribenos"
                        iconoBoton="fa-brands fa-whatsapp"
                    />
                </div>
            </div>
        </section>

        <!-- BLOG -->
        <section>
            <Blog />
        </section>
    </main>

    <footer>
        <Footer />
    </footer>

<!--     <script>
        let nextDom = document.getElementById("next");
        let prevDom = document.getElementById("prev");

        let carouselDom = document.querySelector(".carousel");
        let SliderDom = carouselDom.querySelector(".carousel .list");
        let thumbnailBorderDom = document.querySelector(
            ".carousel .thumbnail",
        );
        let thumbnailItemsDom =
            thumbnailBorderDom.querySelectorAll(".item");

        thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
        let timeRunning = 1000;
        let timeAutoNext = 10000;

        nextDom.onclick = function () {
            showSlider("next");
        };

        prevDom.onclick = function () {
            showSlider("prev");
        };
        let runTimeOut;
        let runNextAuto = setTimeout(() => {
            next.click();
        }, timeAutoNext);
        function showSlider(type) {
            let SliderItemsDom = SliderDom.querySelectorAll(
                ".carousel .list .item",
            );
            let thumbnailItemsDom = document.querySelectorAll(
                ".carousel .thumbnail .item",
            );

            if (type === "next") {
                SliderDom.appendChild(SliderItemsDom[0]);
                thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
                carouselDom.classList.add("next");
            } else {
                SliderDom.prepend(
                    SliderItemsDom[SliderItemsDom.length - 1],
                );
                thumbnailBorderDom.prepend(
                    thumbnailItemsDom[thumbnailItemsDom.length - 1],
                );
                carouselDom.classList.add("prev");
            }
            clearTimeout(runTimeOut);
            runTimeOut = setTimeout(() => {
                carouselDom.classList.remove("next");
                carouselDom.classList.remove("prev");
            }, timeRunning);

            clearTimeout(runNextAuto);
            runNextAuto = setTimeout(() => {
                next.click();
            }, timeAutoNext);
        }
    </script> -->
    <style>
        .fa-brands {
            padding: 10px 0;
            color: white;
            font-size: 50px;
        }
    </style>
</Layout>
