---
import Layout from "../layouts/MainLayout.astro";
import Marcas from "../components/Brands.astro";

import SpecialityCards from "../components/SpecialityCards.astro";
import MainHero from "../components/MainHero.astro";

import CarouselTestimonial from "../components/CarouselTestimonial.astro";
import MainButton from "../components/MainButton.astro";
import Brands from "../components/Brands.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Inicio";
---

<MainLayout title={title}>
    <!-- HEADER CARRUSEL -->
    <MainHero />

    <main>
        <!-- SLIDER PROVEEDORES -->
        <section class="marcas py-4">
            <Brands />
        </section>

        <!-- FERTRAC -->
        <section>
            <div
                class="fertrac-introduce flex items-center justify-center sm:px-4 lg:my-8 flex-wrap md:px-8 lg:gap-8"
            >
                <div class="sm:w-32 sm:pb-4 lg:w-72 lg:py-16">
                    <img src="/public/img/iso web-8.png" alt="" class="" />
                </div>
                <div class="w-2/6 sm:w-full lg:w-2/4">
                    <h2 class="prueba sm:pb-4 text-justify">
                        En Fertrac, entendemos la importancia de la fiabilidad y
                        la eficiencia en el mundo del transporte de carga.
                    </h2>
                    <p class="text-xl sm:pb-4 text-gray-600 text-justify">
                        Es por eso que nos comprometemos a proporcionar
                        repuestos duraderos y de alta calidad que te ayudarán a
                        maximizar el rendimiento y la vida útil de tus
                        vehículos.
                        <br />
                        <br />
                        Nuestro equipo está compuesto por expertos en la industria
                        que están aquí para asistirte en cada paso del camino. Ya
                        sea que necesites asesoramiento sobre qué repuesto es el
                        adecuado para tu vehículo o asistencia con la instalación,
                        estamos aquí para ayudarte.
                    </p>
                </div>
            </div>
        </section>

        <!-- ESPECIALIDADES -->

        <SpecialityCards />

        <!-- NOVEDADES BLOG -->
        <section class="">
            <div
                class="flex bg-white rounded-xl shadow-md overflow-hidden w-screen bg-gradient-to-r from-orange-600 to-yellow-300 h-[700px]" 
            >
            <div class="md:shrink-0 w-full h-full">
                        <img
                            class="object-cover w-auto mx-auto"
                            src="/public/img/nueva-lineas.jpg"
                            alt="Modern building architecture"
                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);"
                        />
                    </div>
                    <div
                        class="novedades flex flex-col justify-center gap-5 2xl:m-auto sm:p-4 sm:items-center lg:items-start absolute h-full w-full"
                    >
                        <h2 class="text-white lg:w-4/5">
                            Marcas nuevas y novedades
                        </h2>

                        <p
                            class="text-xl w-7/12 w-4/5 sm:w-auto sm:w-full text-white"
                        >
                            Te mantenemos al tanto de las últimas tendencias y
                            lanzamientos en el mundo de las marcas. Descubre las
                            incorporaciones más recientes a nuestro catálogo y
                            mantente informado sobre las innovaciones y
                            productos destacados de tus marcas favoritas.
                        </p>

                        <MainButton
                            url="#"
                            text="Novedades"
                            estilos="bg-white px-8 py-2"
                        />
                    </div>
            </div>
        </section>

        <!-- TESTIMONIOS -->
        <section class="flex flex-wrap gap-8 my-24">


            <div class="swiper-container xl:w-[500px] 2xl:w-[750px] sm:w-auto">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/10.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/11.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/12.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/10.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/11.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/12.jpg"
                            alt=""
                        />
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="swiper-container xl:w-[500px] 2xl:w-[750px] sm:w-auto">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/10.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/11.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/12.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/10.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/11.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="http://marveltheme.com/tf/html/appai/appai/img/app-screenshots/12.jpg"
                            alt=""
                        />
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>


        <section class="">
            <div
                class="bg-white rounded-xl shadow-md overflow-hidden w-full bg-gradient-to-r from-orange-600 to-yellow-300"
            >
                <div class="md:flex md:w-full">
                    <div class="md:shrink-0 md:w-6/12">
                        <img
                            class="h-48 w-full object-cover md:h-full md:w-full"
                            src="/public/img/nueva-lineas.jpg"
                            alt="Modern building architecture"
                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        "
                        />
                    </div>
                    <div
                        class="flex flex-col justify-center gap-5 2xl:pr-56 sm:p-8 sm:items-center lg:items-start"
                    >
                        <h2 class="text-white lg:w-4/5">
                            Marcas nuevas y novedades
                        </h2>
        
                        <p
                            class="text-xl w-7/12 w-4/5 sm:w-auto sm:w-full text-white"
                        >
                            Te mantenemos al tanto de las últimas tendencias y
                            lanzamientos en el mundo de las marcas. Descubre las
                            incorporaciones más recientes a nuestro catálogo y
                            mantente informado sobre las innovaciones y
                            productos destacados de tus marcas favoritas.
                        </p>
        
                        <MainButton
                            text="Novedades"
                            estilos="bg-white px-8 py-2"
                        />
                    </div>
                </div>
            </div>
        </section>
        <!-- ASESORIA -->
        <section>
            <div
                class="w-full flex justify-center items-center sm:p-4 sm:py-8 lg:py-12 flex-wrap lg:gap-16 bg-cover bg-center h-2/4 bg-slate-800"
                style="background-image: url(/public/img/asesoria.jpg"
            >
                <div class="text-left">
                    <h2 class="text-white">
                        ¿Tienes alguna duda o necesitas Asesoria?
                    </h2>
                    <p class="text-white py-4">
                        ¡Nos encantaría saber de ti! Si tienes alguna pregunta,
                        comentario o sugerencia, no dudes en ponerte en contacto con
                        nosotros.
                    </p>
                </div>
        
                <MainButton
                    text="Contactar"
                    estilos="bg-white px-8 py-2 hover:text-white"
                />
            </div>
        </section>
    </main>
</MainLayout>


<style>
    .swiper-container {
        margin: 0 auto;
        height: 100%
        ;
        overflow: hidden;
    }

    .swiper-slide {
        width: 300px;
    }

    .swiper-wrapper {
        height: 80%;
    }
</style>

<script>
    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

    var mySwiper = new Swiper(".swiper-container", {
        loop: true,
        speed: 1000,
        /*  autoplay: {
           delay: 3000,
       }, */
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 0,
            stretch: 10,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },

        // Navigation arrows
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
