---
import Layout from "../components/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Marcas from "../components/Marcas.astro";
import BotonRelleno from "../components/BotonRelleno.astro";
import Blog from "../components/Blog.astro";
import TarjetaEspecialidades from "../components/TarjetaEspecialidades.astro";
import MainHero from "../components/MainHero.astro";
import MegaMenu from "../components/MegaMenu.astro";
import CarouselTestimonial from "../components/CarouselTestimonial.astro";

---

<Layout title="Inicio">
  
    <header>
        <!-- HEADER CARRUSEL -->
    <MainHero />    
    </header>

    <main>
        <!-- SLIDER PROVEEDORES -->
        <section class="marcas py-6">
            <Marcas />
            <Marcas />
        </section>

        <!-- FERTRAC -->
        <section>
            <div
                class="flex items-center justify-center gap-x-16 sm:px-4 flex-wrap md:px-8"
            >
                <div class="sm:w-32 sm:pb-4 lg:w-72 lg:py-16">
                    <img src="/public/img/iso web-8.png" alt="" class="" />
                </div>
                <div class="w-2/6 sm:w-full lg:w-2/4">
                    <h2 class="prueba sm:pb-4 text-azul">
                        En Fertrac, entendemos la importancia de la fiabilidad y
                        la eficiencia en el mundo del transporte de carga.
                    </h2>
                    <p class="text-xl sm:pb-4 text-gray-600">
                        Es por eso que nos comprometemos a proporcionar
                        repuestos duraderos y de alta calidad que te ayudarán a
                        maximizar el rendimiento y la vida útil de tus
                        vehículos.
                        <br />
                        <br />
                        Nuestro equipo está compuesto por expertos en la industria
                        que están aquí para asistirte en cada paso del camino. Ya
                        sea que necesites asesoramiento sobre qué repuesto es el
                        adecuado para tu vehículo o asistencia con la instalación,
                        estamos aquí para ayudarte.
                    </p>
                </div>
            </div>
        </section>
        
        <!-- ESPECIALIDADES -->

         <TarjetaEspecialidades />
        
        
        <!-- PROMOCIONES -->
        <section class="">
            <div
                class="bg-white rounded-xl shadow-md overflow-hidden w-full bg-gradient-to-r from-orange-600 to-yellow-300"
            >
                <div class="md:flex md:w-full">
                    <div class="md:shrink-0 md:w-6/12">
                        <img
                            class="h-48 w-full object-cover md:h-full md:w-full"
                            src="/public/img/Fertrac.jpg"
                            alt="Modern building architecture"
                        />
                    </div>
                    <div
                        class="p-56 flex flex-col justify-center gap-5 2xl: p-24 sm:p-8"
                    >
                        <h2
                            class="font-myriad font-extrabold text-white font-semibold w-4/5"
                        >
                            Marcas nuevas y novedades
                        </h2>

                        <p
                            class="text-xl w-7/12 w-4/5 sm: w-auto sm:w-full text-white"
                        >
                        Te mantenemos al tanto de las últimas tendencias y lanzamientos en el mundo de las marcas. Descubre las incorporaciones más recientes a nuestro catálogo y mantente informado sobre las innovaciones y productos destacados de tus marcas favoritas. 
                        </p>
                        <ul class="flex">
                            <li>
                                <img src="/public/img/eaton.png" alt="" class="w-56">
                            </li>
                            <li>
                                <img src="/public/img/eaton.png" alt="" class="w-56">
                            </li>
                            <li>
                                <img src="/public/img/eaton.png" alt="" class="w-56">
                                
                            </li>
                            <BotonRelleno textoBoton="Explorar" iconoBoton=""/>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIOS -->
        <section>
            <div class="flex flex-wrap justify-center mt-8">
                <div
                    class="flex flex-col justify-center items-center sm:text-left md:text-center w-full sm:p-4 md:px-16"
                >
                    <div class="">
                        <h2>Nuestros clientes siempre listos para elegirnos</h2>
                    </div>
                </div>
                <div
                    class="rounded-lg bg-gray-50 p-6 shadow-md sm:p-8 max-w-xs sm:m-4"
                >
                    <div class="flex items-center gap-4">
                        <img
                            alt=""
                            src="/public/img/avatar.png"
                            class="size-14 rounded-full object-cover"
                        />

                        <div>
                            <div
                                class="flex justify-center gap-0.5 text-azul text-sm"
                            >
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">
                                Raul Rodriguez
                            </p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700 text-sm text-justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Culpa sit rerum incidunt, a consequuntur
                        recusandae ab saepe illo est quia obcaecati neque
                        quibusdam eius accusamus error officiis atque voluptates
                        magnam!
                    </p>
                </div>

                <div
                    class="rounded-lg bg-gray-50 p-6 shadow-md sm:p-8 max-w-xs sm:m-4"
                >
                    <div class="flex items-center gap-4">
                        <img
                            alt=""
                            src="/public/img/avatar.png"
                            class="size-14 rounded-full object-cover"
                        />

                        <div>
                            <div
                                class="flex justify-center gap-0.5 text-azul text-sm"
                            >
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">
                                Raul Rodriguez
                            </p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700 text-sm text-justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Culpa sit rerum incidunt, a consequuntur
                        recusandae ab saepe illo est quia obcaecati neque
                        quibusdam eius accusamus error officiis atque voluptates
                        magnam!
                    </p>
                </div>

                <div
                    class="rounded-lg bg-gray-50 p-6 shadow-md sm:p-8 max-w-xs sm:m-4"
                >
                    <div class="flex items-center gap-4">
                        <img
                            alt=""
                            src="/public/img/avatar.png"
                            class="size-14 rounded-full object-cover"
                        />

                        <div>
                            <div
                                class="flex justify-center gap-0.5 text-azul text-sm"
                            >
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">
                                Raul Rodriguez
                            </p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700 text-sm text-justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Culpa sit rerum incidunt, a consequuntur
                        recusandae ab saepe illo est quia obcaecati neque
                        quibusdam eius accusamus error officiis atque voluptates
                        magnam!
                    </p>
                </div>
            </div>
        </section>
        <!-- BANNER SECUNDARIO -->

        <section class="">
            <div class="text-center">
                <h2 class="sm:pb-4 text-azul">
                    Distribución de partes para tractocamiones
                </h2>
                <p class="text-xl sm:pb-4 text-gray-600">
                    Somos la primera distribuidora de productos originales en
                    Colombia
                </p>
            </div>
            <img src="/public/img/bannersecundario.jpg" alt="" />
        </section>

        <!-- SERVICIOS FT -->
        <section>
            <div class="flex flex-wrap justify-center mt-8">
                <div
                    class="flex flex-col justify-center items-center sm:text-left md:text-center w-full sm:p-4 md:px-36"
                >
                    <div class="font-myriad font-extrabold text-3xl text-azul">
                        <h2>
                            Ofrecemos una amplia gama de servicios para
                            satisfacer todas tus necesidades relacionadas con
                            los tractocamiones.
                        </h2>
                    </div>
                    <p class="mt-2 text-xl w-3/4 sm:w-auto text-gray-600">
                        Desde la venta de repuestos de alta calidad hasta
                        servicios de mantenimiento y asesoramiento técnico
                    </p>
                </div>
                <div
                    class="flex-shrink-0 relative overflow-hidden bg-naranja rounded-lg max-w-xs sm:m-4 shadow-lg"
                >
                    <div class="relative flex items-center justify-center">
                        <img
                            class="relative w-full"
                            src="/public/img/mecanica.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                ASESORIA TECNICA
                            </h3>
                            <p class="sm:text-sm">
                                Nuestro equipo de expertos en asesoría técnica
                                está aquí para brindarte el conocimiento y la
                                orientación necesarios para resolver cualquier
                                problema o duda que puedas tener.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-shrink-0 relative overflow-hidden bg-naranja rounded-lg max-w-xs sm:m-4 shadow-lg"
                >
                    <div class="relative flex items-center justify-center">
                        <img
                            class="relative w-full"
                            src="/public/img/Fertrac.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                GESTION DE GARANTIAS
                            </h3>

                            <p class="sm:text-sm">
                                Nuestro equipo especializado en gestión de
                                garantías está comprometido en garantizar que
                                tus reclamaciones sean procesadas de manera
                                rápida, eficiente y sin complicaciones
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-shrink-0 relative overflow-hidden bg-naranja rounded-lg max-w-xs sm:m-4 shadow-lg"
                >
                    <div class="relative flex items-center justify-center">
                        <img
                            class="relative w-full"
                            src="/public/img/Fertrac.jpg"
                            alt=""
                        />
                    </div>
                    <div class="relative text-white px-6 pb-6 mt-6">
                        <div class="flex justify-between flex-col">
                            <h3 class="font-myriad block font-semibold text-xl">
                                PRODUCTOS DE CALIDAD
                            </h3>
                            <p class="sm:text-sm">
                                Nos enorgullecemos de ser productores de calidad
                                en la industria de repuestos para
                                tractocamiones. Nos esforzamos por ofrecer
                                productos que superen las expectativas de
                                nuestros clientes en términos de durabilidad,
                                rendimiento y fiabilidad
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ASESORIA -->
        <section>
            <div
                class="w-full flex justify-center items-center py-12 flex-wrap gap-16 bg-cover bg-center h-2/4 bg-slate-800"
                style="background-image: url(/public/img/asesoria.jpg"
            >
                <div class="text-left">
                    <h2 class="font-myriad text-white text-3xl">
                        ¿Tienes alguna duda o necesitas Asesoria?
                    </h2>
                    <p class="text-white w-">
                        ¡Nos encantaría saber de ti! Si tienes alguna pregunta,
                        comentario o sugerencia, <br />no dudes en ponerte en
                        contacto con nosotros.
                    </p>
                </div>

                <div>
                    <BotonRelleno
                        textoBoton="Contactar"
                        iconoBoton="fa-solid fa-headset text-naranja"
                        fondo="transparent"
                    />
                </div>
            </div>
        </section>

        <!-- BLOG -->
        <article>
            <Blog />
        </article>
    </main>

</Layout>
