---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Marcas"/>
<div class="grid grid-cols-6 grid-rows-9 gap-4 mt-56 sm:mt-36 sm:w-auto lg:w-[1000px] mx-auto">
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>
    <div ><img src="/public/img/eaton.png" alt=""></div>

</div>

</MainLayout>   