---
import MainButton from "../components/MainButton.astro";
import LayoutSimple from "../layouts/LayoutSimple.astro";

const title="Contactanos"
---

<LayoutSimple title={title}>

<div class="container mx-auto mt-44 px-4 lg:px-0">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        
        <!-- ¿Quiénes Somos? -->
        <div class="md:col-span-2 border rounded-md shadow-md p-8">
            <span class="text-naranja font-lato font-bold tracking-wide">¿Quiénes Somos?</span>
            <h1 class="text-normal mb-4">Líderes en el mercado de repuestos para tractocamiones en Colombia</h1>
            <p>Fertrac es la realización de un sueño de servicio y entrega al cliente. Somos una empresa con más de 20 años de experiencia en el mercado, donde nuestra visión, profesionalismo y crecimiento nos han convertido en uno de los mayores representantes de las principales marcas en el país.</p>
        </div>

        <!-- Imagen -->
        <div class="md:col-span-2">
            <img class="w-full h-full object-cover rounded-md" src="/public/img/asesoria.jpg" alt="Asesoría">
        </div>

        <!-- Métricas -->
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4 md:mt-0 md:col-span-4">
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">24+</span>
                    <p>Marcas De Repuestos</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/gears.png" alt="gears"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">25+</span>
                    <p>Años de experiencia</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/96/FFFFFF/external-stats-ecommerce-anggara-line-anggara-putra.png" alt="external-stats-ecommerce-anggara-line-anggara-putra"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">9+</span>
                    <p>Especialidades</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/sell.png" alt="sell"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">110+</span>
                    <p>Empleados</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/groups.png" alt="groups"/>
            </div>
        </div>

        <!-- Misión -->
        <div class="md:col-span-2 border rounded-md shadow-md p-8 mt-8 md:mt-16">
            <span class="text-naranja font-lato font-bold tracking-wide">Misión</span>
            <h1 class="text-normal mb-4">Proporcionar repuestos de alta calidad para tractocamiones</h1>
            <p>Respaldados por un servicio excepcional y una atención personalizada. Nos dedicamos a satisfacer las necesidades de nuestros clientes, ofreciendo soluciones confiables y efectivas que garanticen el óptimo desempeño y la longevidad de sus vehículos.</p>
        </div>

        <!-- Visión -->
        <div class="md:col-span-2 border rounded-md shadow-md p-8 mt-8 md:mt-16">
            <span class="text-naranja font-lato font-bold tracking-wide">Visión</span>
            <h1 class="text-normal mb-4">Convertirnos en el líder del mercado en la distribución de repuestos para tractocamiones</h1>
            <p>Reconocido por nuestra innovación, calidad y compromiso con la satisfacción del cliente. Aspiramos a expandir nuestra presencia a nivel nacional e internacional, desarrollando constantemente nuevas soluciones que respondan a las demandas cambiantes de la industria.</p>
        </div>

        <!-- Asesoría -->
        <div class="md:col-span-2 bg-cover bg-center my-8" style="background-image: url(/public/img/asesoria.jpg)">
            <div class="w-full h-full flex justify-center items-center p-4 lg:p-8 bg-black bg-opacity-50 rounded-md">
                <div class="text-center w-[600px] py-4">
                    <h2 class="text-white text-center">¿Tienes alguna duda o necesitas Asesoría?</h2>
                    <p class="text-white py-8">¡Nos encantaría saber de ti! Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros.</p>
                    <MainButton url="#" text="Contactar" estilos="bg-white px-8 py-2 hover:text-white hover:bg-naranja"/>
                </div>
            </div>
        </div>

        <!-- Formulario de Contacto -->
        <div class="md:col-span-2 bg-azul rounded-lg p-6 my-8">
            <form id="form" class="space-y-4">
                <div class="field">
                    <label class="text-white" for="nombre">Nombre</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                        <input type="text" id="nombre" name="nombre" class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 pl-10 pr-4 text-sm block text-gray-800" placeholder="Carlos" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="text-white" for="empresa">Empresa</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                        <input type="text" id="empresa" name="empresa" class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 pl-10 pr-4 text-sm block text-gray-800" placeholder="Empresa" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="text-white" for="celular">Número</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <input type="text" id="celular" name="celular" class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 pl-10 pr-4 text-sm block text-gray-800" placeholder="+XX XXXXXXXXXX" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="text-white" for="correo">Correo electrónico</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input type="email" id="correo" name="correo" class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 pl-10 pr-4 text-sm block text-gray-800" placeholder="correo@ejemplo.com" required/>
                    </div>
                </div>
                <div class="field mb-4">
                    <label class="text-white" for="mensaje">Mensaje</label>
                    <div class="relative">

                        <textarea rows="6" id="mensaje" name="mensaje" class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 pl-10 pr-4 text-sm block text-gray-800" placeholder="Hola, quiero saber más sobre..." required></textarea>
                    </div>
                </div>
                
        <button class="w-full">
          
            <input class="cursor-pointer text-white hover:text-naranja w-full bg-naranja w-full display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja " type="submit" id="button" value="Enviar correo"/>
          </button>
            </form>
        </div>
    </div>
</div>

</LayoutSimple>
