---
import MainButton from "../components/MainButton.astro";
import MegaMenu from "../components/MegaMenu.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title="Sobre Nosotros"
---

<MainLayout title={title}>
    <MegaMenu positionNav="fixed" bgNav="bg-naranja"/>
<div class="container mx-auto lg:mt-44 sm:mt-32 px-4 lg:px-0 xl:px-44">
    <div class="grid sm:grid-cols-1 lg:grid-cols-4 gap-12 lg:px-12">
         

        <!-- ¿Quiénes Somos? -->
        <div class="md:col-span-2 border rounded-md shadow-md lg:p-8 sm:p-4 transition-transform duration-300 hover:scale-110">
            <span class="text-naranja font-lato font-bold tracking-wide">¿Quiénes Somos?</span>
            <h1 class="mb-4 sm:text-[37px] lg:text-5xl">Fertrac es la realización del sueño de comprender cómo funciona un tractocamión.</h1>
            <p>Desde esa comprensión ha logrado dar el mejor servicio y dedicación a sus clientes. Con más de 20 años de experiencia en el mercado de los tractocamiones. Nuestra visión profesional, y constante crecimiento nos ha posicionado en Colombia como uno de los principales distribuidores de las marcas más reconocidas en el mundo. 
            </p>
        </div>

        <!-- Imagen -->
        <div class="md:col-span-2">
            <img class="w-full h-full object-cover rounded-md" src="/public/img/asesoria.jpg" alt="Asesoría">
        </div>

        <!-- Métricas -->
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4 md:mt-0 md:col-span-4">
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">24+</span>
                    <p>Marcas De Repuestos</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/gears.png" alt="gears"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">25+</span>
                    <p>Años de experiencia</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/96/FFFFFF/external-stats-ecommerce-anggara-line-anggara-putra.png" alt="external-stats-ecommerce-anggara-line-anggara-putra"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">9+</span>
                    <p>Especialidades</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/sell.png" alt="sell"/>
            </div>
            <div class="bg-naranja text-white border rounded-md shadow-md px-8 py-4 flex flex-wrap lg:justify-between sm:justify-center lg:text-left sm:text-center items-center">
                <div>
                    <span class="font-myriad text-4xl">110+</span>
                    <p>Empleados</p>
                </div>
                <img class="h-16 w-16" src="https://img.icons8.com/ios-filled/100/FFFFFF/groups.png" alt="groups"/>
            </div>

            
        </div>

        <!-- filosofia -->
        <div class="lg:col-span-2 border rounded-md shadow-md lg:p-8 sm:p-4 transition-transform duration-300 hover:scale-110">
            <span class="text-naranja font-lato font-bold tracking-wide">Filosofia</span>
            <h2 class=" mb-4">Para nosotros, cada llamada representa un compromiso que va más allá de un negocio</h2>
            <p class="font-normal">Buscamos brindar acompañamiento y apoyo continuo en el crecimiento de su empresa. Nos destacamos por contar con alta disponibilidad y variedad de productos OEM y de marcas alternativas. Superando las expectativas de nuestros clientes con soluciones integrales diseñadas para satisfacer plenamente sus requerimientos.
                </p>
        </div>

        <!-- Historia -->
        <div class="md:col-span-2 border rounded-md shadow-md lg:p-8 sm:p-4 transition-transform duration-300 hover:scale-110">
            <span class="text-naranja font-lato font-bold tracking-wide">Historia</span>
            <h2 class="text-normal mb-4">Fertrac nació oficialmente en el 2003 como resultado de la visión de servicio y calidad</h2>
            <p>Se ha transformado en una plataforma que cubre todo el país con un portafolio lleno de soluciones para el mercado de carga a los mejores precios. Hoy distribuye directamente a los principales almacenes y flotas de todo el país. 
                Inicio con todo lo relacionado a partes para transmisión y diferencial, eventualmente abarca todo lo mecánico y motriz de los vehículos de carga. 
                </p>
        </div>

        <!-- Misión -->
        <div class="lg:col-span-2 border rounded-md shadow-md lg:p-8 sm:p-4 transition-transform duration-300 hover:scale-110">
            <span class="text-naranja font-lato font-bold tracking-wide">Misión</span>
            <h2 class="text-normal mb-4">Proporcionar repuestos de alta calidad para tractocamiones</h>
            <p class="font-normal">Respaldados por un servicio excepcional y una atención personalizada. Nos dedicamos a satisfacer las necesidades de nuestros clientes, ofreciendo soluciones confiables y efectivas que garanticen el óptimo desempeño y la longevidad de sus vehículos.</p>
        </div>

        <!-- Visión -->
        <div class="md:col-span-2 border rounded-md shadow-md lg:p-8 sm:p-4 transition-transform duration-300 hover:scale-110">
            <span class="text-naranja font-lato font-bold tracking-wide">Visión</span>
            <h2 class="text-normal mb-4">Convertirnos en el líder del mercado en la distribución de repuestos para tractocamiones</h2>
            <p>Reconocido por nuestra innovación, calidad y compromiso con la satisfacción del cliente. Aspiramos a expandir nuestra presencia a nivel nacional e internacional, desarrollando constantemente nuevas soluciones que respondan a las demandas cambiantes de la industria.</p>
        </div>
    </div>

</div>

</MainLayout>
