---
import LayoutSpecialties from "../../../layouts/LayoutSpecialties.astro"
import MainButton from "../../../components/MainButton.astro"
const title="motor"
---




<LayoutSpecialties title={title}>
    
  <div>
    <img class="w-full" src="/public/img/fertrac-diferenciales.jpg" alt="">
  </div>

  <div class="flex justify-center flex-col text-center w-[1000px] mx-auto">
    <div>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nisi.</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aut molestiae atque corrupti, alias quisquam enim provident, a sint incidunt voluptates! Provident beatae magni sequi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aut molestiae atque corrupti, alias quisquam enim provident, a sint incidunt voluptates! Provident beatae magni sequi?
        </p>
    </div>
    <div>
        <div class="flex flex-wrap justify-center items-center gap-4 mx-auto">
            <img src="/public/img/wabco.png" alt="">
            <img src="/public/img/wabco.png" alt="">
            <img src="/public/img/wabco.png" alt="">
        </div>
        <div class="flex flex-wrap justify-center items-center gap-4 mx-auto">
            <img src="/public/img/wabco.png" alt="">
            <img src="/public/img/wabco.png" alt="">
            <img src="/public/img/wabco.png" alt="">
        </div>
    </div>
    
    <img class="" src="/public/img/MOTOR.png" alt="">
   
  </div>


</LayoutSpecialties>



