---
import MainButton from "./MainButton.astro"

---

<div
                class="w-full flex justify-center items-center sm:p-4 sm:py-8 lg:py-12 flex-wrap lg:gap-16 bg-cover bg-center h-2/4 bg-slate-800 gap-4 mt-24" 
                style="background-image: url(/public/img/asesoria.jpg"
            >
                <div class="lg:w-1/3 sm:w-full gap-4">
                    <h2 class="text-white mb-4">
                        ¿Te gustaria trabajar con nosotros o ser proveedor?
                    </h2>
                    <p class="text-white">Siempre estamos en busca de nuevas oportunidades y colaboraciones. Si deseas formar parte de nuestro equipo o convertirte en proveedor, nos encantaría conocerte.</p>
                   
                </div>  
                <div class="flex flex-col lg:gap-8 sm:gap-4 lg:w-auto sm:w-full">
                    <MainButton url="https://co.indeed.com/cmp/Fertrac-SAS" text="Ofertas Laborales" estilos="bg-naranja hover:bg-transparent hover:text-white hover:border text-white mr-2 " icon="fa-solid fa-paper-plane"/>
                <MainButton url="https://api.whatsapp.com/send?phone=573058716393" text="Quiero Ser Proveedor" estilos="bg-naranja hover:bg-transparent hover:text-white hover:border text-white mr-2 " icon="fa-solid fa-handshake"/>
                </div>
                
               
            </div>