---
interface Props {
    textoBoton: string;
    iconoBoton: string;
}

const { textoBoton } = Astro.props;
const { iconoBoton } = Astro.props;
---

<div>
  <a href="#" class="rounded-lg relative w-56 h-14 cursor-pointer flex items-center border border-naranja bg-naranja group hover:bg-white active:bg-white active:border-white sm:w-40">
    <span
    class="text-white font-black text-base sm:ml-4 ml-8 transform group-hover:translate-x-10 sm:group-hover:translate-x-10 transition-all duration-300"
    >{textoBoton}</span
  >
  <span
    class="absolute right-0 h-full w-14 rounded-lg bg-white flex items-center justify-center transform group-hover:translate-x-0 group-hover:w-full transition-all duration-300"
  >
    <i class={iconoBoton}></i>
  </span>
  </a>


    <!-- <button
        type="button"
        class="bg-[#f2790c] text-sm text-white font-bold  hover:text-[#f2790c] border border-white hover:bg-white py-3.5 px-4 rounded shadow-lg"
        >{textoBoton}
        <i class={iconoBoton}></i></button
    > -->
</div>
