---
 interface Props {
    textoBoton: string
    iconoBoton: string
 }

 const {textoBoton} = Astro.props
 const {iconoBoton} = Astro.props
---

<div>
    <button
        type="button"
        class="bg-white text-sm text-naranja font-bold  hover:text-[#f2790c] border border-white hover:bg-white py-3.5 px-4 rounded shadow-lg"
        >{textoBoton}
        <i class={iconoBoton}></i></button
    >
</div>