<div class="slider-container">
    <div class="slider">
        <div class="slide-track-1">
            <div class="slide"><img src="/public/img/meritor.png" alt="logo de MERITOR"></div>
            <div class="slide"><img src="/public/img/cummins.png" alt="logo de Cummins"></div>
            <div class="slide"><img src="/public/img/cummins-meritor.png" alt="logo de Cummins-Meritor"></div>
            <div class="slide"><img src="/public/img/eaton.png" alt="logo de EATON"></div>
            <div class="slide"><img src="/public/img/fleetguard.png" alt="logo de Fleetguard"></div>
            <div class="slide"><img src="/public/img/dana.png" alt="logo de DANA"></div>
            <div class="slide"><img src="/public/img/dana-spicer.png" alt="logo de DANA-SPICER"></div>
            <div class="slide"><img src="/public/img/dana-spicer-select.png" alt="logo de DANA-SPICER-SELECT"></div>
            <div class="slide"><img src="/public/img/transejes.png" alt="logo de TRANSEJES"></div>
            <div class="slide"><img src="/public/img/victor-reinz.png" alt="logo de VICTOR REINZ"></div>
            <div class="slide"><img src="/public/img/ftparts.png" alt="logo de Ftparts"></div>
            <div class="slide"><img src="/public/img/pai-genuine.png" alt="logo de Pai-GENUINE"></div>
            <div class="slide"><img src="/public/img/pai.png" alt="logo de Pai"></div>
            <div class="slide"><img src="/public/img/stemco.png" alt="logo de STEMCO"></div>

            <div class="slide"><img src="/public/img/timken.png" alt="logo de TIMKEN"></div>
            <div class="slide"><img src="/public/img/hendrickson.png" alt="logo de HENDRICKSON"></div>
            <div class="slide"><img src="/public/img/fersa.png" alt="logo de Fersa"></div>
            <div class="slide"><img src="/public/img/mid-america.png" alt="logo de Mid America"></div>
            <div class="slide"><img src="/public/img/kysor.png" alt="logo de KYSOR"></div>
            <div class="slide"><img src="/public/img/borgwarner.png" alt="logo de BORGWARNER"></div>
            <div class="slide"><img src="/public/img/horton.png" alt="logo de HORTON"></div>
            <div class="slide"><img src="/public/img/wabco.png" alt="logo de WABCO"></div>
            <div class="slide"><img src="/public/img/sbi.png" alt="logo de SBI"></div>
            <div class="slide"><img src="/public/img/dayco.png" alt="logo de DAYCO"></div>
            <div class="slide"><img src="/public/img/goodyear.png" alt="logo de GOODYEAR"></div>
            <div class="slide"><img src="/public/img/sys.png" alt="logo de sys"></div>
            <div class="slide"><img src="/public/img/firestone.png" alt="logo de Firestone"></div>
            <div class="slide"><img src="/public/img/firestone-airide.png" alt="logo de Firestone AIRIDE"></div>

        </div>
    </div>

    <div class="slider">
        <div class="slide-track-2">
            <div class="slide"><img src="/public/img/mahle.png" alt="logo de MAHLE"></div>
            <div class="slide"><img src="/public/img/clevite.png" alt="logo de CLEVITE"></div>
            <div class="slide"><img src="/public/img/neway.png" alt="logo de NEWAY"></div>
            <div class="slide"><img src="/public/img/monroe.png" alt="logo de MONROE"></div>
            <div class="slide"><img src="/public/img/transtec.png" alt="logo de TRANSTEC"></div>
            <div class="slide"><img src="/public/img/alliance.png" alt="logo de ALLIANCE"></div>
            <div class="slide"><img src="/public/img/freightline.png" alt="logo de FREIGHTLINER"></div>
            <div class="slide"><img src="/public/img/skf.png" alt="logo de SKF"></div>
            <div class="slide"><img src="/public/img/link-belt.png" alt="logo de Link-Belt"></div>
            <div class="slide"><img src="/public/img/sampa.png" alt="logo de SAMPA"></div>
            <div class="slide"><img src="/public/img/tas.png" alt="logo de TAS"></div>
            <div class="slide"><img src="/public/img/ftparts-belt.png" alt="logo de Ftparts"></div>
            <div class="slide"><img src="/public/img/torctite.png" alt="logo de TorcTite"></div>
            <div class="slide"><img src="/public/img/gabriel.png" alt="logo de Gabriel"></div>

            <div class="slide"><img src="/public/img/ftparts.png" alt="logo de Ftparts"></div>
            
            <div class="slide"><img src="/public/img/qualcast.png" alt="logo de QualCast"></div>
            <div class="slide"><img src="/public/img/flexfab.png" alt="logo de Flexfab"></div>
            <div class="slide"><img src="/public/img/tyj.png" alt="TYJ"></div>
            <div class="slide"><img src="/public/img/national.png" alt="logo de National"></div>
            <div class="slide"><img src="/public/img/bostrom.png" alt="logo de Bostrom"></div>
            <div class="slide"><img src="/public/img/frasle.png" alt="logo de FRASLE"></div>
            <div class="slide"><img src="/public/img/tenneco.png" alt="logo de Tenneco"></div>
            <div class="slide"><img src="/public/img/vaden.png" alt="logo de VADEN"></div>
            <div class="slide"><img src="/public/img/mansons.png" alt="logo de MANSONS"></div>
            <div class="slide"><img src="/public/img/tyj.png" alt="logo de T&J"></div>
            <div class="slide"><img src="/public/img/interstate-mcbee.png" alt="logo de INTERSTATE-MCBEE"></div>
            <div class="slide"><img src="/public/img/elgin.png" alt="logo de ELGIN"></div>
            <div class="slide"><img src="/public/img/sealco.png" alt="logo de SEALCO"></div>
        </div>
</div>

<style>
    .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    height: 75pt;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
    touch-action: none;
}

.slider:before {
    left: 0;
    top: 0;
    background: linear-gradient(to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100%);
    content: "";
    height: 75pt;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    background: linear-gradient(to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100%);
    content: "";
    height: 75pt;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider .slide-track-1 {
    padding: 0 50px;
    animation: scroll-l 60s linear infinite;
    display: flex;
    width: calc(250px * 28); /* Ancho ajustado para 36 imágenes (18 originales + 18 duplicadas) */
}
.slider .slide-track-2 {
    animation: scroll-r 10s linear infinite;
    display: flex;
    width: calc(250px * 28); /* Ancho ajustado para 36 imágenes (18 originales + 18 duplicadas) */
}


.slider .slide {
    height: 75pt;
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .slider .slide {
        width: 150px; /* Ajusta el ancho para pantallas de 360px */
    }

    .slider .slide img {
        width: 120px; /* Ajusta el tamaño de la imagen */
    }

    .slider .slide-track-1 {
        width: calc(150px * 28);
        animation: scroll-l 90s linear infinite;
    }

    .slider .slide-track-2 {
        width: calc(150px * 28);
        animation: scroll-r 90s linear infinite;
    }
}



.slider .slide img {
    width: 180px;
    padding: 1pc;
    vertical-align: middle;
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

@keyframes scroll-l {
  0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 18));
    } 
}
@keyframes scroll-r {
/*     100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(calc(-250px * 18));
    } */
}


</style>