---
const {url} = Astro.props;
---
<span>
    <a href="#" class="relative effect text-naranja pb-2 hover:text-azul">Leer mas</a>
    </span>    


<style>

    .effect:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: #04297e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  
  }
  .effect:hover:after { 
    width: 100%; 
    left: 0; 
  }
</style>


  