<section class="creative-testimonial--slider bg-gradient-to-b from-f7f7ff via-f4f4fb to-white py-12">
    <div class="testimonial-inner bg-cover bg-center mx-auto" style="background-image: url(https://imgpanda.com/upload/ib/2Tgg58L106.png); max-width: 1240px;">
        <div class="testimonial-row">
            <h2 class="testimonial-heading text-center mx-auto text-3xl md:text-4xl lg:text-5xl font-bold leading-tight mb-12 sm:text-2xl sm:leading-tight">Nuestros clientes siempre listos para elegirnos</h2>
            <div class="testimonial-wrap relative overflow-hidden mb-6">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="swiper-slide--inner flex items-center space-x-12 px-4 lg:px-20 sm:flex-col sm:text-center">
                                <div class="slide-avatar">
                                    <img src="/public/img/avatar1.png" alt="" class="w-64">
                                </div>
                                <div class="testimonial-detail text-center contents flex-col">
                                    <span class="block font-bold uppercase text-azul my-4 text-4xl">Juana Pérez, Gerente de Flota</span>
                                    <p class="text-lg font-bold leading-8 text-gray-800 text-center">Desde que comenzamos a trabajar con Fertrac, hemos experimentado una notable mejora en el rendimiento y la fiabilidad de nuestra flota de tractocamiones. La calidad de los repuestos es insuperable, y la atención al cliente siempre ha sido excepcional. Su tienda en línea es increíblemente fácil de usar, permitiéndonos encontrar y recibir los productos que necesitamos de manera rápida y eficiente. No podríamos estar más satisfechos con el servicio y los productos que ofrecen</p>
                                    <span class="block font-bold uppercase text-azul mt-4 text-2xl">Repuestos Duitama</span>
                                </div>
                                
                                <div class="company-details--row flex flex-wrap justify-center md:flex-row md:space-y-0 md:space-x-4 sm:flex-col sm:space-y-4 w-full">
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                        <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                            <div class="company-box-top py-4 border-b border-gray-200">
                                                <img src="/public/img/responsabilidad.png" alt="Company Name" class="h-24 mx-auto">
                                            </div>
                                            <div class="company-box-bottom p-4">
                                                <span class="text-gray-800 font-myriad">RESPONSABLES</span>
                                            </div>
                                        </div>
                                    </div>
                   
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/puntualidad.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">PUNTUALES</span>
                                           </div>
                                       </div>
                                   </div>
                   
                                   <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/compromiso.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">COMPROMETIDOS</span>
                                           </div>
                                       </div>
                                   </div>
                                   
                               </div>

                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--inner flex items-center space-x-12 px-4 lg:px-20 sm:flex-col sm:text-center">
                                <div class="slide-avatar">
                                    <img src="/public/img/avatar2.png" alt="" class="w-64">
                                </div>
                                <div class="testimonial-detail text-center contents flex-col">
                                    <span class="block font-bold uppercase text-azul my-4 text-4xl">Juana Pérez, Gerente de Flota</span>
                                    <p class="text-lg font-bold leading-8 text-gray-800 text-center">Desde que comenzamos a trabajar con Fertrac, hemos experimentado una notable mejora en el rendimiento y la fiabilidad de nuestra flota de tractocamiones. La calidad de los repuestos es insuperable, y la atención al cliente siempre ha sido excepcional. Su tienda en línea es increíblemente fácil de usar, permitiéndonos encontrar y recibir los productos que necesitamos de manera rápida y eficiente. No podríamos estar más satisfechos con el servicio y los productos que ofrecen</p>
                                    <span class="block font-bold uppercase text-azul mt-4 text-2xl">Repuestos Duitama</span>
                                </div>

                                <div class="company-details--row flex flex-wrap justify-center md:flex-row md:space-y-0 md:space-x-4 sm:flex-col sm:space-y-4 w-full">
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                        <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                            <div class="company-box-top py-4 border-b border-gray-200">
                                                <img src="/public/img/responsabilidad.png" alt="Company Name" class="h-24 mx-auto">
                                            </div>
                                            <div class="company-box-bottom p-4">
                                                <span class="text-gray-800 font-myriad">RESPONSABLES</span>
                                            </div>
                                        </div>
                                    </div>
                   
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/puntualidad.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">PUNTUALES</span>
                                           </div>
                                       </div>
                                   </div>
                   
                                   <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/compromiso.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">COMPROMETIDOS</span>
                                           </div>
                                       </div>
                                   </div>
                                   
                               </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--inner flex items-center space-x-12 px-4 lg:px-20 sm:flex-col sm:text-center">
                                <div class="slide-avatar">
                                    <img src="/public/img/avatar1.png" alt="" class="w-64">
                                </div>
                                <div class="testimonial-detail text-center contents flex-col">
                                    <span class="block font-bold uppercase text-azul my-4 text-4xl">Juana Pérez, Gerente de Flota</span>
                                    <p class="text-lg font-bold leading-8 text-gray-800 text-center">Desde que comenzamos a trabajar con Fertrac, hemos experimentado una notable mejora en el rendimiento y la fiabilidad de nuestra flota de tractocamiones. La calidad de los repuestos es insuperable, y la atención al cliente siempre ha sido excepcional. Su tienda en línea es increíblemente fácil de usar, permitiéndonos encontrar y recibir los productos que necesitamos de manera rápida y eficiente. No podríamos estar más satisfechos con el servicio y los productos que ofrecen</p>
                                    <span class="block font-bold uppercase text-azul mt-4 text-2xl">Repuestos Duitama</span>
                                </div>

                                <div class="company-details--row flex flex-wrap justify-center md:flex-row md:space-y-0 md:space-x-4 sm:flex-col sm:space-y-4 w-full">
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                        <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                            <div class="company-box-top py-4 border-b border-gray-200">
                                                <img src="/public/img/responsabilidad.png" alt="Company Name" class="h-24 mx-auto">
                                            </div>
                                            <div class="company-box-bottom p-4">
                                                <span class="text-gray-800 font-myriad">RESPONSABLES</span>
                                            </div>
                                        </div>
                                    </div>
                   
                                    <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/puntualidad.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">PUNTUALES</span>
                                           </div>
                                       </div>
                                   </div>
                   
                                   <div class="company-box flex-1 p-4 md:p-1/3 w-full">
                                       <div class="company-box-inner shadow-lg transition-all bg-white text-center rounded-md">
                                           <div class="company-box-top py-4 border-b border-gray-200">
                                               <img src="/public/img/compromiso.png" alt="Company Name" class="h-24 mx-auto">
                                           </div>
                                           <div class="company-box-bottom p-4">
                                               <span class="text-gray-800 font-myriad">COMPROMETIDOS</span>
                                           </div>
                                       </div>
                                   </div>
                                   
                               </div>
                                   
                               </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-button-next slide-btns"></div>
                    <div class="swiper-button-prev slide-btns"></div>
                </div>
            </div>
       
            
        </div>
    </div>
</section>
</style>

<script>
    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

    document.addEventListener("DOMContentLoaded", function() {
    const swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        effect: 'slide',
    });
});
</script> 

<!-- <div class="wrapper">
    <div class="swiper swiperFade">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/17568780/pexels-photo-17568780/free-photo-of-street-in-london-with-st-pauls-cathedral-behind.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>London</h1>
                        <p>United Kingdom</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/460740/pexels-photo-460740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Paris</h1>
                        <p>France</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/2225440/pexels-photo-2225440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    />
                    <div class="card-description">
                        <h1>Rome</h1>
                        <p>Italy</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/14415275/pexels-photo-14415275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Washington Dc</h1>
                        <p>USA</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/2097616/pexels-photo-2097616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Melbourne</h1>
                        <p>Australia</p>
                    </div>
                </div>
            </div> </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="swiper swiperFade">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/17568780/pexels-photo-17568780/free-photo-of-street-in-london-with-st-pauls-cathedral-behind.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>London</h1>
                        <p>United Kingdom</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/460740/pexels-photo-460740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Paris</h1>
                        <p>France</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/2225440/pexels-photo-2225440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    />
                    <div class="card-description">
                        <h1>Rome</h1>
                        <p>Italy</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/14415275/pexels-photo-14415275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Washington Dc</h1>
                        <p>USA</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-image">
                    <img
                        src="https://images.pexels.com/photos/2097616/pexels-photo-2097616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                    <div class="card-description">
                        <h1>Melbourne</h1>
                        <p>Australia</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<style>
    .wrapper {
        width: 100%;
        overflow-x: hidden;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @media (max-width: 1199px) {
            flex-flow: column;
        }
    }

    .swiper {
        width: 300px;
        height: 400px;
        margin: 45px;
        border-radius: 15px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #000;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
        }
        .card-image {
            position: relative;
            transition: opacity 0.3s ease-out;
            width: 100%;
            height: 100%;
        }
        .card-description {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            padding: 20px;
            color: #fff;
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0) 50%,
                    rgba(0, 0, 0, 0.5) 100%
                );
            }
            h1,
            p {
                position: relative;
                z-index: 10;
                text-align: left;
            }
            h1 {
                font-size: 28px;
                margin-top: 0;
                margin-bottom: 5px;
            }
            p {
                margin-top: 0;
                letter-spacing: 1px;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #000;
        &::after {
            font-size: 20px;
        }
    }

    .swiperEffect {
        border-radius: 0;
        .swiper-slide {
            border-radius: 18px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: #fff;
        }
    }
</style>

<script>
    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

    var swiperFade = new Swiper(".swiperFade", {
        loop: true,
        effect: "fade",
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });


</script> -->
 
