<section class="Testimonials lg:mb-24  sm:mb-4 mt-8 sm:px-4">
  <div class="flex flex-col items-center justify-center lg:gap-8 sm:gap-2 mb-4">
    <h2>
        Testimonios
    </h2>
    <h4 class="lg:w-2/4">
      Sus experiencias reflejan nuestro compromiso con la satisfacción y la confianza que han depositado en nosotros.
    </h4>
  </div>
    <div class="slider-container  swiper 2xl:max-w-[1500px] xl:max-w-[2000px] w-full sm:py-0 sm:mb-10 lg:my-10">
      
      <div class="slider-content lg:mx-12">
        <div class="card-wrapper swiper-wrapper ">
  
          <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#cad1e3] rounded-lg">
            <div class="flex w-full gap-5 items-center">
                <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                    <img src="/public/img/avatar1.png" alt="" class="bg-cover">
                </div>
                <div class="name flex flex-col font-lato">
                    <span class="text-xl pb-2 font-bold">Daniel Guzman</span>
                    <span class="text-base text-black font-semibold">Asesor Comercial</span>
                    <span class="text-gray-700">Duitama</span>
                </div>
                
            </div>
            <div class="text-2xl text-azul py-4">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-lg font-semibold tracking-widest">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut omnis repudiandae sapiente"</p>
          </div>
  
  
         <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#cad1e3] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar1.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Daniel Guzman</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">Duitama</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-azul py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut omnis repudiandae sapiente"</p>
            </div>
  
  
            <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#cad1e3] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar1.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Daniel Guzman</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">Duitama</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-azul py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut omnis repudiandae sapiente"</p>
            </div>
  
  
            <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#cad1e3] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar1.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Daniel Guzman</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">Duitama</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-azul py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut omnis repudiandae sapiente"</p>
            </div>
  
  
        </div>
      </div>
  
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
  
  
  
   
     
  
  </div>
</section>



<style>
  .slider-container{
  width: 100%;

}
.slider-content {
  overflow: hidden;

}

.swiper-button-next{
  right: 0;
  color: #04297e;
}
.swiper-button-prev{
  left: 0;
  color: #04297e
}


@media screen and (max-width:768px) {
  .swiper-navBtn{
    display: block;
  }

  .swiper-button-next{
  right: 20px;
  display: none;

}
.swiper-button-prev{
  left: 20px;
  display: none;
}
}
</style>

<script>

    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

  var swiper = new Swiper(".slider-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide:'true',
    fade:'true',
    grabCursor:'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets:true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
        0:{
            slidesPerView:1,
        },
        520:{
            slidesPerView:2,
        },
        950:{
            slidesPerView:3,
        },
    }
  });
</script>
