---
import BotonPrincipal from "./BotonPrincipal.astro";
---

<div class="lg:mt-56 sm:mx-4 sm:w-auto lg:w-[1000px] lg:mx-auto sm:pt-8 lg:pt-0">
  <h1 class="text-center mb-4 text-[36px]">
    Estamos aqui para ti, <span class="text-naranja">contactanos</span> en cualquier
    momento
  </h1>
  <p class="text-center">
    Si tienes alguna duda sobre nuestros servicios, no dudes en hacernoslo saber
  </p>
</div>

<div
  class="lg:mb-56 sm:mb-8 mt-8 max-w-6xl max-lg:max-w-3xl mx-auto bg-azul rounded-lg"
>
  <section class="grid lg:grid-cols-2 items-center gap-14 sm:p-8 p-4">
    <div class="flex flex-col gap-8 h-full justify-between">
      <div
        class="flex flex-col items-center bg-white rounded-lg shadow-md shadow-[0px_0px_5px_1px_#cbd5e0] px-4"
      >
        <div class="pt-4 md:px-8 sm:px-0 flex flex-col items-center">
          <div class="w-fit bg-blue-200 p-4 rounded-full">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios-filled/50/f2790c/conference-call.png"
              alt="conference-call"
            />
          </div>

          <h3 class="text-2xl text-center">¿Quieres trabajar con nosotros?</h3>
          <p class="text-lg pb-2 text-center">Si quieres formar parte de una empresa comprometida con la excelencia y la innovación en el sector de repuestos para tractocamiones.</p>
        </div>

        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=573007594058"
          class="text-center w-full border-black py-4"
          style="border-top: 1px solid rgba(179, 179, 179, 0.5);"
        >
          <span
            class="bg-naranja w-full text-white display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
            >Enviar Hoja de Vida <i class="fa-solid fa-arrow-right ml-2"
            ></i></span
          >
        </a>
      </div>

      <div
        class="flex flex-col items-center bg-white rounded-lg shadow-md shadow-[0px_0px_5px_1px_#cbd5e0] px-4"
      >
        <div class="pt-4 md:px-8 sm:px-0 flex flex-col items-center">
          <div class="w-fit bg-blue-200 p-4 rounded-full">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/parakeet-line/96/04297e/communication.png"
              alt="communication"
            />
          </div>

          <h3 class="text-2xl text-center">Area de Mercadeo</h3>
          <p class="text-lg pb-2 text-center">
            Impulsamos nuestra presencia con estrategias innovadoras para
            conectar eficazmente con nuestros clientes y destacar en el mercado.
          </p>
        </div>

        <a
          href="https://api.whatsapp.com/send?phone=573124615606&text=Hola%2C%20necesito%20informaci%C3%B3n%20sobre..."
          class="text-center w-full border-black py-4"
          style="border-top: 1px solid rgba(179, 179, 179, 0.5);"
        >
          <span
            class="bg-naranja w-full text-white display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
            >Impulsa tu negocio <i class="fa-solid fa-arrow-right ml-2"></i></span
          >
        </a>
      </div>

      <div
        class="flex flex-col items-center bg-white rounded-lg shadow-md shadow-[0px_0px_5px_1px_#cbd5e0] px-4"
      >
        <div class="pt-4 md:px-8 sm:px-0 flex flex-col items-center">
          <div class="w-fit bg-blue-200 p-4 rounded-full">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/parakeet-line/96/04297e/communication.png"
              alt="communication"
            />
          </div>

          <h3 class="text-2xl text-center">Gestión de Garantias</h3>
          <p class="text-lg pb-2 text-center">
            Respaldo total en cada venta. Nuestro servicio de Gestión de Garantías asegura que cualquier inconveniente con los repuestos adquiridos sea atendido de manera eficiente y profesional.
          </p>
        </div>

        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=573132202239"
          class="text-center w-full border-black py-4"
          style="border-top: 1px solid rgba(179, 179, 179, 0.5);"
        >
          <span
            class="bg-naranja w-full text-white display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
            >Solicitar Soporte <i class="fa-solid fa-arrow-right ml-2"></i></span
          >
        </a>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <form id="form" class="bg-white p-6 rounded-lg">
        <div class="field">
          <label for="nombre">Nombre</label>

          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="nombre"
              name="nombre"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="Carlos"
              required
            />
          </div>
        </div>

        <div class="field">
          <label for="empresa">Empresa</label>

          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="empresa"
              name="empresa"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="Carlos"
              required
            />
          </div>
        </div>

        <div class="field">
          <label for="celular">Numero</label>
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="celular"
              name="celular"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="+XX XXXXXXXXXX"
              required
            />
          </div>
        </div>

        <div class="field">
          <label for="correo">Correo electronico</label>
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="correo"
              name="correo"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="Carlos"
              required
            />
          </div>
        </div>

        <div class="field">
          <label for="correo">Mensaje</label>
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
            </div>
            <textarea
              rows="6"
              id="correo"
              name="correo"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block"
              placeholder="Hola, quiero saber mas sobre..."
              required></textarea>
          </div>
        </div>

        <label>
          <input
            type="checkbox"
            name="dataConsent"
            id="dataConsent"
            required
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="link-checkbox"
            class="text-sm font-medium text-gray-900 dark:text-gray-300"
            >Acepto la
            <a href="/public/img/politica-manejo-de-datos.pdf" class="text-azul hover:underline" download="politica-manejo-de-datos.pdf">Politica de Datos</a></label>
          
        </label>

        <button class="w-full my-2">
          <input
            class="cursor-pointer text-white hover:text-naranja w-full bg-naranja w-full display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
            type="submit"
            id="button"
            value="Enviar Correo"
          />
        </button>
      </form>

      <div
        class="flex flex-col items-center bg-white rounded-lg shadow-md shadow-[0px_0px_5px_1px_#cbd5e0] px-4"
      >
        <div class="pt-4 md:px-8 sm:px-0 flex flex-col items-center">
          <div class="w-fit bg-blue-200 p-4 rounded-full">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/parakeet-line/96/04297e/communication.png"
              alt="communication"
            />
          </div>

          <h3 class="text-2xl text-center">¿Quieres Ser Proveedor?</h3>
          <p class="text-lg pb-2 text-center">
            Siempre en búsqueda de socios estratégicos que compartan nuestro compromiso con la calidad y el servicio. Si tienes productos o servicios que puedan complementar nuestra oferta, nos encantaría colaborar contigo.
          </p>
        </div>

        <a
          href="https://api.whatsapp.com/send?phone=573124615606&text=Hola%2C%20necesito%20informaci%C3%B3n%20sobre..."
          class="text-center w-full border-black py-4"
          style="border-top: 1px solid rgba(179, 179, 179, 0.5);"
        >
          <span
            class="bg-naranja w-full text-white display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
            >Empezar Chat <i class="fa-solid fa-arrow-right ml-2"></i></span
          >
        </a>
      </div>
    </div>
    <div></div>
  </section>
</div>

<style>
  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-size: 12px;
    color: #777;
  }

  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
</style>

<script>
  const btn = document.getElementById("button");

  document.getElementById("form").addEventListener("submit", function (event) {
    event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

    btn.value = "Sending..."; // Cambia el texto del botón a "Sending..."

    // Crear un objeto FormData a partir del formulario
    const formData = new FormData(this);

    // Agregar el estado del checkbox con un mensaje personalizado
    const dataConsent = document.getElementById("dataConsent").checked
      ? "He aceptado el tratamiento de mis datos personales."
      : "No he aceptado el tratamiento de mis datos personales.";

    formData.append("dataConsent", dataConsent); // Agrega el estado del checkbox a los datos

    const serviceID = "default_service";
    const templateID = "template_0rtmj7n";

    // Enviar el formulario a EmailJS
    emailjs.sendForm(serviceID, templateID, this).then(
      () => {
        btn.value = "Send Email"; // Restaura el texto del botón
        alert("Sent!"); // Muestra un mensaje de éxito
      },
      (err) => {
        btn.value = "Send Email"; // Restaura el texto del botón
        alert(JSON.stringify(err)); // Muestra un mensaje de error
      },
    );
  });
</script>
