<div>
    <section class="text-gray-700 text-left">
      <div class="container xl:pt-24 sm:py-0 mx-auto">
        <div class="text-center lg:mb-4 sm:mb-4">
          <h2 class="text-center text-azul mb-2">
            Preguntas Frecuentes
          </h2>
          <!-- <p class="text-base text-center leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
            The most common questions about how our business works and what
            can do for you.
          </p> -->
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="w-full lg:w-1/2 px-4 pt-2 lg:pb-2">

            <span class="text-lg">Preguntas Generales sobre Repuestos</span>
            <details class="mb-4 mt-2">
              <summary>
                ¿Qué tipo de repuestos ofrecen?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4  font-bold">Ofrecemos una amplia gama de repuestos para Motores, incluyendo..."</p>
                
              </span>
            </details>
           
            <details class="mb-4">
              <summary>
                ¿Los repuestos son originales o de fabricación independiente?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold">
                  Contamos con repuestos originales de las principales marcas y de alta calidad, garantizando su compatibilidad y rendimiento.
                </p>
                
              </span>
            </details>
          </div>

          <div class="w-full lg:w-1/2 px-4 pb-2 lg:pt-2">

            <span class="text-lg">Preguntas sobre Garantías</span>
            <details class="mb-4 mt-2">
              <summary>
                ¿Qué tipo de garantía ofrecen para los repuestos?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold">
                  Ofrecemos una garantía estándar que cubre defectos de fabricación. Consulta las condiciones específicas de cada producto para más detalles.
                </p>
               
              </span>
            </details>
            <details class="mb-4">
              <summary>
                ¿Cómo puedo reclamar una garantía?

              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold"> Para reclamar una garantía, debes contactar a nuestro equipo de atención al cliente y proporcionar la factura de compra y la información del producto defectuoso.</p>
               
              </span>
            
          </div>

          <div class="w-full lg:w-1/2 px-4 pb-2 lg:pt-2">
            <span class="text-lg"> Preguntas sobre Instalación y Mantenimiento</span>
            <details class="mb-4 mt-2">
              
              <summary>
                ¿Ofrecen servicios de instalación para los repuestos?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold">Actualmente, no ofrecemos servicios de instalación. Sin embargo, recomendamos que los repuestos sean instalados por un profesional calificado.
                </p>
              </span>
            </details>

            
            <details class="mb-4">
              <summary>
                ¿Cómo puedo mantener mis repuestos en buen estado?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold"> Sigue las recomendaciones del fabricante para el mantenimiento adecuado. Consulta nuestras guías de mantenimiento en el sitio o contacta a nuestro soporte para consejos adicionales.</p>
               
              </span>
            </details>
          </div>

          <div class="w-full lg:w-1/2 px-4 pb-2 lg:pt-2">
            <span class="text-lg">Preguntas sobre Modelos y Compatibilidad</span>
            <details class="mb-4 mt-2">
              
              <summary>
                ¿Cómo puedo verificar la compatibilidad de un repuesto con mi tractocamión?
              </summary>
  
              <span class="">
                <p class="text-base bg-orange-200 p-4 font-bold">Utiliza las especificaciones de tu vehículo para comparar con las características de los repuestos en nuestro catálogo. Si necesitas ayuda, contacta a nuestro equipo para verificar la compatibilidad.</p>
                
              </span>
            </details>

            
            <details class="mb-4">
              <summary>
                ¿Qué hacer si no encuentro el repuesto que necesito en su sitio web?
              </summary>
  
              <span>
                <p class="text-base bg-orange-200 p-4 font-bold">Si no encuentras un repuesto específico, contáctanos para consultar sobre su disponibilidad. Podemos ayudarte a localizar el repuesto adecuado o sugerir alternativas.</p>
                
              </span>
            </details>
            
          </div>

        </div>
      </div>
    </section>
  </div>