<!-- Footer container -->
<footer
  class="text-center lg:text-left bg-gradient-to-r from-naranja to-yellow-400">
  <div
    class="flex items-center justify-center border-b-2 border-neutral-200 py-6 px-16 lg:justify-between">
    <div class="me-12 hidden lg:block">
      <span class="text-lg text-white font-bold">Encuentranos y siguenos en nuestras redes sociales</span>
    </div>

    <!-- LOGOS -->
    <div class="flex justify-center items-center gap-9">
      <a href="#!" class=""> <i class="fa-brands fa-facebook text-4xl text-white"></i></a>
    
      <a href="#!" class=""> <i class="fa-brands fa-instagram text-4xl text-white"></i></a>
      <a href="#!" class=""> <i class="fa-brands fa-tiktok text-4xl text-white"></i></a>
      <a href="#!" class=""> <i class="fa-brands fa-linkedin-in text-4xl text-white"></i></a>
    </div>
  </div>

  <div class="mx-24 sm:mx-4 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- LOGO -->
      <div class="">
          <span class="w-52">
            <img src="/public/img/fertrac-footerb.png" alt="">
          </span>
        <p class="text-white text-base font-bold pt-4">
          Gracias por visitar nuestra página web. Queremos agradecerte por tu interés en nuestro contenido.
        </p>
      </div>

      <!-- Products section -->

      <div>
        <h6
          class="mb-4 flex justify-center md:justify-start font-myriad font-bold text-white text-lg">
          NAVEGACIÓN
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Inicio</a>
        </p>
        <p class="mb-4 text-white text-base text-base">
          <a href="#!">Especialidades</a>
        </p>
        <p class="mb-4 text-white text-base text-base">
          <a href="#!">Servicios</a>
        </p>
        <p class="mb-4 text-white text-base text-base">
          <a href="#!">Sobre Nosotros</a>
        </p>
        <p class="mb-4 text-white text-base text-base">
          <a href="#!">Contactanos</a>
        </p>
      </div>

      <!-- Useful links section -->

      <div>
        <h6
          class="mb-4 flex justify-center uppercase md:justify-start font-myriad font-bold text-white text-lg">
          ENLACES DE INTERES
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Tienda web</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a href="#!">Blog</a>
        </p>
        <h6
          class="mb-4 flex justify-center font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          LEGAL
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Privacidad</a>
        </p>
        <p class="text-white text-base">
          <a href="#!">Cookies</a>
        </p>
      </div>

      <!-- Contact section -->

      <div>
        <h6
          class="mb-4 flex justify-center font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          Contacto
        </h6>
        <div class="sm:flex flex-col">
          <div class="">
            <p class="mb-4 flex items-center justify-center md:justify-start gap-2.5 text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-house"></i></a>
              <span class="w-64">TV. 93 # 51-98 Bodega 17 Barrio Alamos Parque Empresarial Puerta del Sol</span>
            </p>
          </div>
          
          <div class="">
            <p class="mb-4 flex items-center justify-center md:justify-start gap-2.5 text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-envelope"></i></a>
              ventas@fertrac.com
            </p>
          </div>
          
          <div class="">
            <p class="mb-4 flex items-center justify-center md:justify-start gap-2.5 text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-phone"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>

          <div class="">
            <p class="mb-4 flex items-center justify-center md:justify-start gap-2.5 text-base text-white">
              <a href="#!" class=""> <i class="fa-brands fa-whatsapp"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2024 Copyright:</span>
    <a class="font-semibold" href="https://tw-elements.com/"
      >Fertrac</a
    >
  </div>
</footer>