---
import Form from "./Form.astro"
---
<footer
  class="text-center lg:text-left bg-gradient-to-r from-naranja to-yellow-400">
  <div
    class="gap-8 items-center justify-center bg-gradient-to-r from-azul to-gray-700 border-b-2 border-neutral-200 lg:p-16 lg:justify-evenly sm:p-8 md:px-24">

    <!-- <Form bgBlog="" titulo="text-white" parrafo="text-white"/> -->
<!--     <hr class="border boder-white w-full lg:hidden">
    <hr class="h-36 w-[.1vw] border-0 bg-white sm:hidden lg:block"> -->

    <div class="text-center flex gap-16">
      
      <h3 class="text-2xl text-white font-bold">Encuentranos y siguenos en nuestras redes sociales</h3>
       <!-- LOGOS -->
    <div class="flex flex-wrap justify-center items-center gap-9">
      
      <a href="#!" class=""> <i class="fa-brands fa-facebook text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="#!" class=""> <i class="fa-brands fa-instagram text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="#!" class=""> <i class="fa-brands fa-tiktok text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="#!" class=""> <i class="fa-brands fa-linkedin-in text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
    </div>
    </div>
    
   

    
  </div>

  <div class="sm:p-8 lg:py-8 lg:px-16 xl:p-24 text-center md:text-left">
    <div class="grid-1 grid gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
      <!-- LOGO -->
      <div class="">
          <span class="w-52">
            <img src="/public/img/fertrac-footerb.png" alt="">
          </span>
        <p class="text-white text-sm font-bold pt-4">
          Gracias por visitar nuestra página web. Queremos agradecerte por tu interés en nuestro contenido.
        </p>
      </div>

      <!-- Products section -->

      <div class="text-left">
        <h6
          class="mb-4 font-myriad font-bold text-white text-lg">
          NAVEGACIÓN
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Inicio</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a href="#!">Especialidades</a>
        </p>
        <p class="mb-4 text-white text-base ">
          <a href="#!">Servicios</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a href="#!">Sobre Nosotros</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a href="#!">Contactanos</a>
        </p>
      </div>

      <!-- Useful links section -->

      <div class="text-left">
        <h6
          class="mb-4 uppercase md:justify-start font-myriad font-bold text-white text-lg">
          ENLACES DE INTERES
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Tienda web</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a href="#!">Blog</a>
        </p>

        <h6
          class="mb-4 font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          LEGAL
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="#!">Privacidad</a>
        </p>
        <p class="text-white text-base">
          <a href="#!">Cookies</a>
        </p>
      </div>

      <!-- Contact section -->

      <div class="sm:text-center md:text-left">
        <h6
          class="mb-4 font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          Contacto
        </h6>
        <div class="">
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-house"></i></a>
              <span class="w-64">TV. 93 # 51-98 Bodega 17 Barrio Alamos Parque Empresarial Puerta del Sol</span>
            </p>
          </div>
          
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-envelope"></i></a>
              ventas@fertrac.com
            </p>
          </div>
          
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-phone"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>

          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-brands fa-whatsapp"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2024 Copyright:</span>
    <a class="font-semibold" href="https://tw-elements.com/"
      >Fertrac</a
    >
  </div>
</footer>