---
import Form from "./Form.astro"
---
<footer
  class="text-center lg:text-left bg-gradient-to-r from-naranja to-yellow-400">
  <div
    class="gap-8 items-center justify-center bg-gradient-to-r from-azul to-gray-700 border-b-2 border-neutral-200 lg:p-16 lg:justify-evenly sm:p-8 md:px-24">

    <!-- <Form bgBlog="" titulo="text-white" parrafo="text-white"/> -->
<!--     <hr class="border boder-white w-full lg:hidden">
    <hr class="h-36 w-[.1vw] border-0 bg-white sm:hidden lg:block"> -->

    <div class="blue-section text-center  gap-16">
      
      <h3 class="text-2xl text-white font-bold mb-4">Encuentranos y siguenos en nuestras redes sociales</h3>
       <!-- LOGOS -->
    <div class="social-footer flex flex-wrap justify-center items-center sm:gap-4 lg:gap-9">
      
      <a href="https://www.facebook.com/fertac.col?mibextid=9R9pXO" target="_blank"> <i class="fa-brands fa-facebook text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="https://instagram.com/fertrac.col?igshid=MzMyNGUyNmU2YQ=="target="_blank" > <i class="fa-brands fa-instagram text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="https://www.tiktok.com/@fertrac.col?_t=8n0duv13nev&_r=1" target="_blank"> <i class="fa-brands fa-tiktok text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
      <a href="#!"> <i class="fa-brands fa-linkedin-in text-2xl text-white transition-transform duration-300 ease-in-out transform hover:scale-150"></i></a>
    </div>
    </div>
    
   

    
  </div>

  <div class="sm:p-8 lg:py-8 lg:px-16 xl:p-24 text-center md:text-left">
    <div class="grid-1 grid gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
      <!-- LOGO -->
      <div class="">
          <span class="w-52">
            <img src="/public/img/fertrac-footerb.png" alt="">
          </span>
        <p class="text-white text-sm font-bold pt-4 text-left">
          Con más de 20 años de experiencia, nos especializamos en la importación y distribución de partes OEM y alternativas para tractocamiones. <br>
          Gracias por visitar nuestra página web. Queremos agradecerte por tu interés en nuestro contenido.
        </p>
      </div>

      <!-- Products section -->

      <div class="text-left">
        <h6
          class="mb-4 font-myriad font-bold text-white text-lg">
          NAVEGACIÓN
        </h6>
        <p class="mb-4   ">
          <a class="hover:text-azul text-white text-base" href="/inicio/">Inicio</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a class="hover:text-azul text-white text-base" href="/especialidades/">Especialidades</a>
        </p>
        <p class="mb-4 text-white text-base ">
          <a class="hover:text-azul text-white text-base" href="/servicios/">Servicios</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a class="hover:text-azul text-white text-base" href="/sobre-nosotros/">Sobre Nosotros</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a class="hover:text-azul text-white text-base" href="/contactanos/">Contactanos</a>
        </p>
      </div>

      <!-- Useful links section -->

      <div class="text-left">
        <h6
          class="mb-4 uppercase md:justify-start font-myriad font-bold text-white text-lg">
          ENLACES DE INTERES
        </h6>
        <p class="mb-4 text-white text-base">
          <a class="hover:text-azul text-white text-base" href="#!">Tienda web</a>
        </p>
        <p class="mb-4 text-white text-base">
          <a class="hover:text-azul text-white text-base" href="/blog/">Blog</a>
        </p>

        <h6
          class="mb-4 font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          LEGAL
        </h6>
        <p class="mb-4 text-white text-base">
          <a href="/public/img/politica-manejo-de-datos.pdf" download="politica-manejo-de-datos.pdf">Politica de Datos <i class="fa-solid fa-file-arrow-down"></i></a>
          
        </p>

      </div>

      <!-- Contact section -->

      <div class="sm:text-center md:text-left">
        <h6
          class="mb-4 font-myriad font-semibold uppercase md:justify-start text-white text-lg">
          Contacto
        </h6>
        <div class="">
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-house"></i></a>
              <span class="w-64 text-left">TV. 93 # 51-98 Bodega 17 Barrio Alamos Parque Empresarial Puerta del Sol</span>
            </p>
          </div>
          
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-envelope"></i></a>
              ventas@fertrac.com
            </p>
          </div>
          
          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-solid fa-phone"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>

          <div class="mb-4 flex items-center justify-center md:justify-start gap-2.5 ">
            <p class="text-base text-white">
              <a href="#!" class=""> <i class="fa-brands fa-whatsapp"></i></a>
              310 201 5333 / 312 461 5606
            </p>
          </div>
          
         
        </div>
        
      </div>
    </div>

      <iframe  class="sm:w-auto lg:w-[400px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4824037438693!2d-74.12517162401682!3d4.685905741783579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b60596aaaab%3A0x30b9203f293d290b!2sFERTRAC!5e0!3m2!1ses!2sco!4v1723519400801!5m2!1ses!2sco" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2024 Copyright:</span>
    <a class="font-semibold" href="https://tw-elements.com/"
      >Fertrac</a
    >
  </div>
</footer>