---
 interface Props {
  bgBlog: string
 }

 const {bgBlog} = Astro.props 
---


<div class="rounded md:shadow">
    <div class={`px-8 py-4 flex items-center ${bgBlog}`}>
      <div class="mr-8">
        <h3 class="text-3xl text-white font-bold">Suscribete a nuestro boletin informativo</h3>
      <p class="text-xl text-white">Recibe Información sobre nuestros productos y enterate de todas las novedades</p>
      </div>
      
      <form class="">
        <input type="email" class="rounded bg-gray-100 px-4 py-2 border focus:border-green-400" placeholder="edwincamilo@live.com"/>
        <button class="px-4 py-2 rounded bg-naranja text-white">
          Suscribir
          <i class='bx bx-right-arrow-alt' ></i>
        </button>
      </form>
    </div>
  </div>