---
import ButtonBlog from './ButtonBlog.astro'

 interface Props {
  bgBlog: string
 }

 const {bgBlog} = Astro.props 
---


<div class="rounded md:shadow ">
    <div class={`lg:w-[500px] xl:w-auto flex items-center justify-center flex-wrap ${bgBlog}  xl:gap-8`}>
      <div class="lg:text-center xl:text-left">
        <h3 class="text-3xl text-white font-bold mb-4">Suscribete a nuestro boletin informativo</h3>
      <p class="text-lg text-center text-white mb-4">Recibe Información sobre nuestros productos y enterate de todas las novedades</p>
      </div>
      
      <div>
        <form class="">
          <input type="email" class="rounded bg-gray-100 px-4 py-2 border focus:border-naranja w-full mb-4" placeholder="Ingresa tu correo electronico"/>
          <button class="px-4 py-2 rounded bg-naranja text-white w-full font-bold font-lato hover:bg-white hover:text-naranja transition-all duration-500 ease-in-out">
            Suscribir
            <i class='bx bx-right-arrow-alt' ></i>
          </button>
        </form>
      </div>
      
    </div>
  </div>