<div class="slider">
    <div class="slide-track1 items-center" id="slideTrack1">
        <!-- Imágenes originales -->
        <div class="slide"><img src="/img/meritor.png" alt="logo de MERITOR"></div>
        <div class="slide"><img src="/img/cummins.png" alt="logo de Cummins"></div>
        <div class="slide"><img src="/img/cummins-meritor.png" alt="logo de Cummins-Meritor"></div>
        <div class="slide"><img src="/img/eaton.png" alt="logo de EATON"></div>
        <div class="slide"><img src="/img/fleetguard.png" alt="logo de Fleetguard"></div>
        <div class="slide"><img src="/img/dana.png" alt="logo de DANA"></div>
        <div class="slide"><img src="/img/dana-spicer.png" alt="logo de DANA-SPICER"></div>
        <div class="slide"><img src="/img/dana-spicer-select.png" alt="logo de DANA-SPICER-SELECT"></div>
        <div class="slide"><img src="/img/transejes.png" alt="logo de TRANSEJES"></div>
        <div class="slide"><img src="/img/victor-reinz.png" alt="logo de VICTOR REINZ"></div>
        <div class="slide"><img src="/img/ftparts.png" alt="logo de Ftparts"></div>
        <div class="slide"><img src="/img/pai-genuine.png" alt="logo de Pai-GENUINE"></div>
        <div class="slide"><img src="/img/pai.png" alt="logo de Pai"></div>
        <div class="slide"><img src="/img/stemco.png" alt="logo de STEMCO"></div>
        <div class="slide"><img src="/img/timken.png" alt="logo de TIMKEN"></div>
        <div class="slide"><img src="/img/hendrickson.png" alt="logo de HENDRICKSON"></div>
        <div class="slide"><img src="/img/fersa.png" alt="logo de Fersa"></div>
        <div class="slide"><img src="/img/mid-america.png" alt="logo de Mid America"></div>
        <div class="slide"><img src="/img/kysor.png" alt="logo de KYSOR"></div>
        <div class="slide"><img src="/img/borgwarner.png" alt="logo de BORGWARNER"></div>
        <div class="slide"><img src="/img/horton.png" alt="logo de HORTON"></div>
        <div class="slide"><img src="/img/wabco.png" alt="logo de WABCO"></div>
        <div class="slide"><img src="/img/sbi.png" alt="logo de SBI"></div>
        <div class="slide"><img src="/img/dayco.png" alt="logo de DAYCO"></div>
        <div class="slide"><img src="/img/goodyear.png" alt="logo de GOODYEAR"></div>
        <div class="slide"><img src="/img/sys.png" alt="logo de sys"></div>
        <div class="slide"><img src="/img/firestone.png" alt="logo de Firestone"></div>
        <div class="slide"><img src="/img/firestone-airide.png" alt="logo de Firestone AIRIDE"></div>
    </div>

   
</div>

<div class="slider">
    <div class="slide-track2 items-center " id="slideTrack2">
        <!-- Imágenes originales -->
        <div class="slide"><img src="/img/ftparts.png" alt="logo de Ftparts"></div>
        <div class="slide"><img src="/img/mahle.png" alt="logo de MAHLE"></div>
        <div class="slide"><img src="/img/clevite.png" alt="logo de CLEVITE"></div>
        <div class="slide"><img src="/img/neway.png" alt="logo de NEWAY"></div>
        <div class="slide"><img src="/img/monroe.png" alt="logo de MONROE"></div>
        <div class="slide"><img src="/img/transtec.png" alt="logo de TRANSTEC"></div>
        <div class="slide"><img src="/img/alliance.png" alt="logo de ALLIANCE"></div>
        <div class="slide"><img src="/img/freightliner.png" alt="logo de FREIGHTLINER"></div>
        <div class="slide"><img src="/img/skf.png" alt="logo de SKF"></div>
        <div class="slide"><img src="/img/link-belt.png" alt="logo de Link-Belt"></div>
        <div class="slide"><img src="/img/sampa.png" alt="logo de SAMPA"></div>
        <div class="slide"><img src="/img/tas.png" alt="logo de TAS"></div>
        <div class="slide"><img src="/img/torctite.png" alt="logo de TorcTite"></div>
        <div class="slide"><img src="/img/gabriel.png" alt="logo de Gabriel"></div>
        <div class="slide"><img src="/img/ftparts.png" alt="logo de Ftparts"></div>
        <div class="slide"><img src="/img/qualcast.png" alt="logo de QualCast"></div>
        <div class="slide"><img src="/img/flexfab.png" alt="logo de Flexfab"></div>
        <div class="slide"><img src="/img/tyj.png" alt="TYJ"></div>
        <div class="slide"><img src="/img/national.png" alt="logo de National"></div>
        <div class="slide"><img src="/img/bostrom.png" alt="logo de Bostrom"></div>
        <div class="slide"><img src="/img/frasle.png" alt="logo de FRASLE"></div>
        <div class="slide"><img src="/img/tenneco.png" alt="logo de Tenneco"></div>
        <div class="slide"><img src="/img/vaden.png" alt="logo de VADEN"></div>
        <div class="slide"><img src="/img/mansons.png" alt="logo de MANSONS"></div>
        <div class="slide"><img src="/img/tyj.png" alt="logo de T&J"></div>
        <div class="slide"><img src="/img/interstate-mcbee.png" alt="logo de INTERSTATE-MCBEE"></div>
        <div class="slide"><img src="/img/elgin.png" alt="logo de ELGIN"></div>
        <div class="slide"><img src="/img/sealco.png" alt="logo de SEALCO"></div>
    </div>

   
</div>


<style>
.slider {
    width: 100vw; /* Ajusta según tu diseño */
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track1 {
    display: flex;
    animation: scroll-left 40s linear infinite; /* Ajusta la duración según la velocidad deseada */
    white-space: nowrap; /* Evita el salto de línea */
}

.slider .slide-track2 {
    display: flex;
    animation: scroll-right 40s linear infinite; /* Ajusta la duración según la velocidad deseada */
    white-space: nowrap; /* Evita el salto de línea */
}

.slider .slide {
    padding: 0 20px;
    width: 200px; /* Ancho de cada imagen */
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 28)); /* Ajusta según el número total de imágenes */
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(calc(-200px * 28)); /* Ajusta según el número total de imágenes */
    }
    100% {
        transform: translateX(0);
    }
}

</style>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const slideTrack1 = document.getElementById('slideTrack1');
    const slideTrack2 = document.getElementById('slideTrack2');
    
    // Función para duplicar las imágenes en un slide track
    const duplicateSlides = (slideTrack) => {
        const slides = slideTrack.children;
        
        // Crea un nuevo fragmento de documento para duplicar las imágenes
        const fragment = document.createDocumentFragment();
    
        // Duplica las imágenes
        for (let i = 0; i < slides.length; i++) {
            const clone = slides[i].cloneNode(true); // Clona el nodo
            fragment.appendChild(clone);
        }
    
        // Añade el fragmento duplicado al track
        slideTrack.appendChild(fragment);
        
        // Ajusta el ancho del track para incluir las imágenes duplicadas
        const trackWidth = slides.length * 200; // Ancho de las imágenes originales
        slideTrack.style.width = `${trackWidth * 2}px`; // Doble del ancho total
    };

    // Aplica la función a ambos tracks
    duplicateSlides(slideTrack1);
    duplicateSlides(slideTrack2);
});

</script>