---
 interface Props {
    textoBoton: string
 }

 const {textoBoton} = Astro.props
---

<div>
    <button
        type="button"
        class="bg-[#f2790c] text-white font-bold  hover:text-[#f2790c] border border-white hover:bg-white py-3.5 px-8"
        >{textoBoton}</button
    >
</div>