<div class="slider sm:w-screen 2xl:w-3/4">
    <div class="slide-track">
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        
     
</div>

<style>
    .slider {
    width: 50vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    padding: 20px;
    gap: 20px;
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(150px * 14);
}

.slider .slide {
    width:150px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-150px * 7));
        transform: translateX(calc(-150px * 7));
    }
}
</style>
