<div class="slider sm:w-full 2xl:w-3/4 w-[70vw] mx-auto overflow-hidden  ">
    <div class="slide-track lg:gap-12 lg:py-[20px] sm:py-[0px] sm:gap-8 lg:my-8 sm:my-4 items-center">
        <div class="slide">
            <img src="/public/img/meritor.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/cummins-meritor.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/eaton.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/fleetguard.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/spicer-dana.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/spicer-select.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/dana.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/transejes.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/victor-reinz.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/timken.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/hendrickson.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/fersa.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/kysor.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/borgwarner.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/horton.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/wabco.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/sbi.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/dayco.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/mahle.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/neway.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/monroe.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/transtec.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/alliance.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/freightliner.png" alt="">
        </div>

        
     
</div>

<style>


.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(150px * 25);
}

.slider .slide {
    width:150px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-150px * 7));
        transform: translateX(calc(-150px * 7));
    }
}

@media (max-width: 1080px) {
    .slider .slide-track {
        width: calc(100px * 25);
    }
}

</style>
