<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        
     
</div>
