<div class="slider sm:w-screen 2xl:w-3/4">
    <div class="slide-track">
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        <div class="slide">
            <img src="/public/img/clevite.png" alt="">
        </div>
        
     
</div>
