---
import Form from "./Form.astro";

const {positionNav} = Astro.props;
const {bgNav} = Astro.props;
---

<div class={`navbar transition duration-1000 ease-in-out flex items-center justify-between px-4 py-6 md:justify-around top-0 w-full ${positionNav} ${bgNav} z-50`}>
  <a href="#">
    <!-- <img id="imagen1" src="/public/img/fertrac-footer.png" alt="" class="w-44 hidden" > -->
    <img id="imagen2" src="/public/img/fertrac-footerb.png" class="sm:w-32 lg:w-44" alt=""
      />
  </a>

  <nav class="hidden md:flex">
    <ul class="flex items-center justify-center font-semibold text-white">
        <li class="relative px-3 py-2 group">
            <a href="/inicio/" class="effect">Inicio</a>
          </li>

      <li class="relative px-3 py-2  cursor-pointer group">
        <a href="#">Especialidades</a>
        <i class="fa-solid fa-caret-down"></i>

        <div
          class="absolute w-[800px] top-0 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="w-10 h-10 bg-white transform rotate-45 absolute top-0 left-11 z-0 translate-x-0 transition-transform group-hover:translate-x-[12rem] duration-500 ease-in-out rounded-sm">
            </div>

            <div class="relative z-10 justify-between">
              <div class="grid items-stretch grid-cols-3 gap-6">
                <div>
                  <ul class="mt-3 text-[15px] space-y-4">
                    
                      <li>
                        <a href="/posts/specialties/motor"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-blue-200">
                          <div class="p-2 bg-blue-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/ios-filled/100/FFFFFF/engine.png" alt="engine"/>
                          </div>
                          <div>
                            Motor
                            <p class="text-sm font-bold text-gray-600">Los motores son el corazón de nuestros vehículos.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-200">
                          <div class="p-2 bg-orange-500 rounded-xl">
                            <img width="30" height="30" src="https://img.icons8.com/external-obvious-glyph-kerismaker/96/FFFFFF/external-accessories-car-auto-parts-glyph-obvious-glyph-kerismaker-6.png" alt="external-accessories-car-auto-parts-glyph-obvious-glyph-kerismaker-6"/>
                          </div>
                          <div>
                            Eje Delantero
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-yellow-200">
                          <div class="p-2 bg-yellow-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-suspension-equipments-icongeek26-glyph-icongeek26-2.png" alt="external-suspension-equipments-icongeek26-glyph-icongeek26-2"/>
                          </div>
                          <div>
                            Suspensión
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                  </ul>
                </div>

                <div>
                  <ul class="mt-3 text-[15px] space-y-4">
                    
                      <li>
                        <a href="/posts/specialties/motor"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-red-200">
                          <div class="p-2 bg-red-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-bottle-travel-accessories-icongeek26-glyph-icongeek26.png" alt="external-bottle-travel-accessories-icongeek26-glyph-icongeek26"/>
                          </div>
                          <div>
                            Filtración
                            <p class="text-sm font-bold text-gray-600">Los motores son el corazón de nuestros vehículos.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-200">
                          <div class="p-2 bg-green-500 rounded-xl">
                            <img width="30" height="30" src="https://img.icons8.com/external-solid-style-bomsymbols-/65/FFFFFF/external-car-car-engine-dashboard-lights-solid-style-set-2-solid-style-bomsymbols--9.png" alt="external-car-car-engine-dashboard-lights-solid-style-set-2-solid-style-bomsymbols--9"/>
                          </div>
                          <div>
                            Cardan y Diferencial
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-fuchsia-200">
                          <div class="p-2 bg-fuchsia-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-clutch-disc-equipments-icongeek26-glyph-icongeek26.png" alt="external-clutch-disc-equipments-icongeek26-glyph-icongeek26"/>
                          </div>
                          <div>
                            Embrague y Transmisión
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                  </ul>
                </div>

                <div>
                  <ul class="mt-3 text-[15px] space-y-4">
                    
                      <li>
                        <a href="/posts/specialties/motor"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-teal-200">
                          <div class="p-2 bg-teal-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/ios-filled/100/FFFFFF/heating.png" alt="heating"/>
                          </div>
                          <div>
                            Sistema de Refrigeración
                            <p class="text-sm font-bold text-gray-600">Los motores son el corazón de nuestros vehículos.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-lime-200">
                          <div class="p-2 bg-lime-300 rounded-xl">
                            <img width="30" height="30" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-ball-bearing-car-parts-and-service-icongeek26-glyph-icongeek26.png" alt="external-ball-bearing-car-parts-and-service-icongeek26-glyph-icongeek26"/>
                          </div>
                          <div>
                            Rodamientos
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a href="/posts/specialties/eje delantero"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-slate-200">
                          <div class="p-2 bg-slate-500 rounded-full">
                            <img width="30" height="30" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-break-car-parts-and-service-icongeek26-glyph-icongeek26.png" alt="external-break-car-parts-and-service-icongeek26-glyph-icongeek26"/>
                          </div>
                          <div>
                            Sistema de Aire y Frenado
                            <p class="text-sm font-bold text-gray-600">Componente vital del sistema de transmisión.</p>
                          </div>
                        </a>
                      </li>

                  </ul>
                </div>



              </div>

            </div>
          </div>
        </div>
      </li>
      
      <li class="relative px-3 py-2 group cursor-pointer">
        <a href="#" class="cursor-default">Servicios</a>
        <i class="fa-solid fa-caret-down"></i>
        <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
            <div class="relative z-10">

              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-red-200 rounded-xl">
                      <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Asesoria Tecnica
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div class="p-4 bg-green-200 rounded-xl">
                      <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Gestion de Garantias
                      <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                        business decision.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-indigo-200 rounded-xl">
                      <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                      </svg>
                    </div>
                    <div>
                      Servicio a Domicilio
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="relative px-3 py-2 group cursor-pointer">
        <a href="#" class="cursor-default">Sobre Nosotros</a>
        <i class="fa-solid fa-caret-down"></i>
        <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 left-14 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
            <div class="relative z-10">

              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-red-200 rounded-xl">
                      <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Historia
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div class="p-4 bg-green-200 rounded-xl">
                      <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Mision y Vision
                      <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                        business decision.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-indigo-200 rounded-xl">
                      <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                      </svg>
                    </div>
                    <div>
                      Valores Corporativos
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="relative px-3 py-2 group">
        <a href="/contactanos/" class="effect">Contactanos</a>
        
        <!-- <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[200px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
             <div class="relative z-10">
              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div>
                      Notifications
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div>
                      Analytics
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div>
                      Intregrations
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </li>
      
    </ul>
  </nav>


  <nav class="md:flex sm:hidden">
    <ul>
      <section class="flex justify-center items-center gap-4">
        <a href="#" class="group social flex justify-center p-2 rounded-md drop-shadow-xl bg-white text-naranja font-semibold hover:rounded-[50%] transition-all duration-500"><i class="fa-solid fa-shop"></i>

          <span class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-white group-hover:text-sm group-hover:-translate-y-8 duration-700">
            Tienda
          </span>
      </a>

      <a href="/blog/" class="group social flex justify-center p-2 rounded-md drop-shadow-xl bg-white text-naranja font-semibold hover:rounded-[50%] transition-all duration-500"><i class="fa-regular fa-newspaper"></i>

        <span class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-white group-hover:text-sm group-hover:-translate-y-8 duration-700">
          Blog
        </span>
    </a>
        <!-- <a href="#" class="group social flex justify-center p-2 rounded-md drop-shadow-xl bg-naranja text-white font-semibold hover:rounded-[50%] transition-all duration-500 hover:text-naranja hover:bg-white"><i class="fa-brands fa-facebook"></i>

          <span class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-white group-hover:text-sm group-hover:-translate-y-8 duration-700">
            Facebook
          </span>
      </a>
      <a href="#" class="group social flex justify-center p-2 rounded-md drop-shadow-xl bg-naranja text-white font-semibold hover:rounded-[50%] transition-all duration-500 hover:text-naranja hover:bg-white"><i class="fa-brands fa-instagram"></i>

        <span class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-white group-hover:text-sm group-hover:-translate-y-8 duration-700">
          Instagram
        </span>
    </a>
    <a href="#" class="group social flex justify-center p-2 rounded-md drop-shadow-xl bg-naranja text-white font-semibold hover:rounded-[50%] transition-all duration-500 hover:text-naranja hover:bg-white"><i class="fa-brands fa-tiktok"></i>

      <span class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-white group-hover:text-sm group-hover:-translate-y-8 duration-700">
        TikTok
      </span>
  </a> -->
      </section>
      
    </ul>
      
  </nav>
  <button id="mobile-menu-button" class="md:hidden ">
    <div class="barras_menu">
      <span class="linea1__barras"></span>
      <span class="linea2__barras"></span>
      <span class="linea3__barras"></span>
  </div>
  </button>
</div>

  


    <div id="mobile-menu" class="hidden w-full min-h-screen bg-white md:hidden fixed z-40">
      <nav class="p-4 pt-28">
        <ul class="flex flex-col items-start justify-start w-full gap-2 font-semibold">
          <li class="relative w-full">
            <a href="#" class="flex items-center w-full p-2 cursor-pointer active:bg-gray-100 active:rounded-xl dropdown-toggle">Inicio</a>

          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-2 dropdown-toggle">
              Especialidades
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
    
                <div class="grid grid-cols-3 gap-6">
                  <div>
                    <ul class="text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>


                    </ul>
                  </div>
                  <div>
                    <ul class="text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>


                    </ul>
                  </div>
                  <div>
                    <ul class="text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-blue-200 rounded-xl">
                            <svg class="w-4 h-4 text-black fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Motor
                          </div>
                        </a>
                      </li>


                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li class="relative w-full">
            <button
              class="flex items-center w-full p-2 dropdown-toggle">
              Servicios
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
                
                <div class="grid grid-cols-1 gap-6">
                  <div>
                    <ul class="text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-red-200 rounded-xl">
                            <svg class="w-4 h-4 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Asesoria Tecnica
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                          <div class="p-2 bg-green-200 rounded-xl">
                            <svg class="w-4 h-4 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Gestion de Garantias
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-indigo-200 rounded-xl">
                            <svg class="w-4 h-4 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                            </svg>
                          </div>
                          <div>
                            Servicio a domicilio</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-2 dropdown-toggle">
              Sobre Nosotros
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
                
                <div class="grid grid-cols-1 gap-6">
                  <div>
                    <ul class="text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-red-200 rounded-xl">
                            <svg class="w-4 h-4 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Historia
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                          <div class="p-2 bg-green-200 rounded-xl">
                            <svg class="w-4 h-4 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Mision y Vision
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-indigo-200 rounded-xl">
                            <svg class="w-4 h-4 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                            </svg>
                          </div>
                          <div>
                            Valores Corporativos</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li class="relative w-full">
            <a href="/inicio/" class="flex items-center w-full p-2  dropdown-toggle">Contactanos</a>
          </li>
        </ul>
      </nav>

<!--       <hr class="border boder-azul w-full">

      <Form bgBlog="p-2  text-center" titulo="text-azul text-xl" parrafo="text-azul text-sm"/>

      <hr class="border boder-azul w-full"> -->

      <div>
        <ul class="py-4">
          <li class="md:hidden flex justify-center bg-white text-naranja text-2xl rounded-full gap-8">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <style>


.effect:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;

}
.effect:hover:after { 
  width: 100%; 
  left: 0; 
}



/* .ocultar {
  display: none;
}*/



ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}




.barras_menu {
  width: 30px;
  height: 30px;   
  cursor: pointer;
  
}

.barras_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

.activar1 {
  transform: rotate(45deg)
  translate(-2px, 1px);

}
.activar2 {
  opacity: 0;
  margin-left: -30px;
}

.activar3 {
  transform: rotate(-45deg)
  translate(-4px, 2px);
}


.scrolled {
  background: #f2790c;
}
</style>

<script>



    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    const dropdownToggles = document.querySelectorAll('.dropdown-toggle');

    //
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
    // 

    // 
    dropdownToggles.forEach((toggle) => {
      toggle.addEventListener('click', () => {
        const dropdown = toggle.nextElementSibling;
        const otherDropdowns = document.querySelectorAll('.dropdown');

        otherDropdowns.forEach((d) => {
          if (d !== dropdown) {
            d.classList.add('hidden');

          }
        });

        dropdown.classList.toggle('hidden');
        toggle.querySelector('svg').classList.toggle('rotate-180');
      });
    });



document.querySelector(".barras_menu").addEventListener("click", animacion);

var linea1__barras = document.querySelector(".linea1__barras");
var linea2__barras = document.querySelector(".linea2__barras");
var linea3__barras = document.querySelector(".linea3__barras");

function animacion () {
    linea1__barras.classList.toggle("activar1")
    linea2__barras.classList.toggle("activar2")
    linea3__barras.classList.toggle("activar3")

}

window.addEventListener('scroll', function() {
    var navbar = document.querySelector('.navbar');
    

    if (window.scrollY > 50) { 
        navbar.classList.add('scrolled');
        
    } else {
        navbar.classList.remove('scrolled');
    }
});

/* document.addEventListener('scroll', function () {
      const scrollY = window.scrollY;
      const imagen1 = document.getElementById('imagen1');
      const imagen2 = document.getElementById('imagen2');
      const social = document.querySelectorAll('.social');
      

      if (scrollY > 50) { // Cambia este valor según tus necesidades
        imagen1.classList.add('ocultar');
        imagen2.classList.remove('ocultar');
        social.forEach(node => {node.classList.add('bgsocial');
      })
    }else {
        imagen1.classList.remove('ocultar');
        imagen2.classList.add('ocultar');
        social.forEach(node => {node.classList.remove('bgsocial');
      })
      }
    }
  );  */
</script> 