<div class="sm:w-screen flex items-center justify-between px-4 py-6 md:justify-around fixed z-50">
  <a href="#">
    <img src="/public/img/fertrac-footerb.png" alt="" class="w-44">
  </a>

  <nav class="hidden md:flex">
    <ul class="flex items-center justify-center font-semibold text-white">
        <li class="relative px-3 py-2 group">
            <a href="#" class="cursor-default hover:opacity-50">Inicio
            </a>
          </li>

      <li class="relative px-3 py-2  cursor-pointer group">
        <a href="#" class="">Especialidades</a>
        <i class="fa-solid fa-caret-down"></i>
        <div
          class="absolute w-[800px] top-0 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="w-10 h-10 bg-white transform rotate-45 absolute top-0 left-11 z-0 translate-x-0 transition-transform group-hover:translate-x-[12rem] duration-500 ease-in-out rounded-sm">
            </div>

            <div class="relative z-10 justify-between">
              <div class="grid items-stretch grid-cols-3 gap-6">
                <div>
                  <ul class="mt-3 text-[15px] space-y-4">
                    
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>

                  </ul>
                </div>
                <div>
                  <ul class="mt-3 text-[15px] space-y-4">
                    <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                          <div class="p-4 bg-blue-200 rounded-xl">
                              <i class="fi fi-bs-engine text-blue"></i>
                          </div>
                          <div>
                            Motor
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                     

                  </ul>
                </div>
                <div>
                    <ul class="mt-3 text-[15px] space-y-4">

                        <li>
                          <a href="#"
                            class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                            <div class="p-4 bg-blue-200 rounded-xl">
                                <i class="fi fi-bs-engine text-blue"></i>
                            </div>
                            <div>
                              Motor
                              <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                                date.</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                            <div class="p-4 bg-blue-200 rounded-xl">
                                <i class="fi fi-bs-engine text-blue"></i>
                            </div>
                            <div>
                              Motor
                              <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                                date.</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-orange-50 hover:text-azul">
                            <div class="p-4 bg-blue-200 rounded-xl">
                                <i class="fi fi-bs-engine text-blue"></i>
                            </div>
                            <div>
                              Motor
                              <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                                date.</p>
                            </div>
                          </a>
                        </li>

                     
                    </ul>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </li>
      
      <li class="relative px-3 py-2 group cursor-pointer">
        <a href="#" class="cursor-default">Servicios</a>
        <i class="fa-solid fa-caret-down"></i>
        <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
            <div class="relative z-10">

              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-red-200 rounded-xl">
                      <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Asesoria Tecnica
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div class="p-4 bg-green-200 rounded-xl">
                      <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Gestion de Garantias
                      <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                        business decision.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-indigo-200 rounded-xl">
                      <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                      </svg>
                    </div>
                    <div>
                      Servicio a Domicilio
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="relative px-3 py-2 group cursor-pointer">
        <a href="#" class="cursor-default">Sobre Nosotros</a>
        <i class="fa-solid fa-caret-down"></i>
        <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 left-14 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
            <div class="relative z-10">

              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-red-200 rounded-xl">
                      <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Historia
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div class="p-4 bg-green-200 rounded-xl">
                      <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                          d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      Mision y Vision
                      <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                        business decision.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div class="p-4 bg-indigo-200 rounded-xl">
                      <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                      </svg>
                    </div>
                    <div>
                      Valores Corporativos
                      <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                        date.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="relative px-3 py-2 group">
        <button class="cursor-default hover:opacity-50">Contactanos</button>
        <!-- <div
          class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[200px] transform">
          <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
            <div
              class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3">
            </div>
             <div class="relative z-10">
              <ul class="mt-3 text-[15px] space-y-4">
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div>
                      Notifications
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                    <div>
                      Analytics
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                    <div>
                      Intregrations
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </li>
      
    </ul>
  </nav>


  <nav class="md:flex sm:hidden">
    <ul>
      <section class="flex justify-center items-center">
        <button
          href="#"
          class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#7289da] from-gray-800 to-black text-white font-semibold hover:rounded-[50%] transition-all duration-500 hover:from-[#331029] hover:to-[#310413]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            stroke="white"
            width="2em"
            height="2em"
            viewBox="0 0 50 50"
          >
            <path
              d="M 18.90625 7 C 18.90625 7 12.539063 7.4375 8.375 10.78125 C 8.355469 10.789063 8.332031 10.800781 8.3125 10.8125 C 7.589844 11.480469 7.046875 12.515625 6.375 14 C 5.703125 15.484375 4.992188 17.394531 4.34375 19.53125 C 3.050781 23.808594 2 29.058594 2 34 C 1.996094 34.175781 2.039063 34.347656 2.125 34.5 C 3.585938 37.066406 6.273438 38.617188 8.78125 39.59375 C 11.289063 40.570313 13.605469 40.960938 14.78125 41 C 15.113281 41.011719 15.429688 40.859375 15.625 40.59375 L 18.0625 37.21875 C 20.027344 37.683594 22.332031 38 25 38 C 27.667969 38 29.972656 37.683594 31.9375 37.21875 L 34.375 40.59375 C 34.570313 40.859375 34.886719 41.011719 35.21875 41 C 36.394531 40.960938 38.710938 40.570313 41.21875 39.59375 C 43.726563 38.617188 46.414063 37.066406 47.875 34.5 C 47.960938 34.347656 48.003906 34.175781 48 34 C 48 29.058594 46.949219 23.808594 45.65625 19.53125 C 45.007813 17.394531 44.296875 15.484375 43.625 14 C 42.953125 12.515625 42.410156 11.480469 41.6875 10.8125 C 41.667969 10.800781 41.644531 10.789063 41.625 10.78125 C 37.460938 7.4375 31.09375 7 31.09375 7 C 31.019531 6.992188 30.949219 6.992188 30.875 7 C 30.527344 7.046875 30.234375 7.273438 30.09375 7.59375 C 30.09375 7.59375 29.753906 8.339844 29.53125 9.40625 C 27.582031 9.09375 25.941406 9 25 9 C 24.058594 9 22.417969 9.09375 20.46875 9.40625 C 20.246094 8.339844 19.90625 7.59375 19.90625 7.59375 C 19.734375 7.203125 19.332031 6.964844 18.90625 7 Z M 18.28125 9.15625 C 18.355469 9.359375 18.40625 9.550781 18.46875 9.78125 C 16.214844 10.304688 13.746094 11.160156 11.4375 12.59375 C 11.074219 12.746094 10.835938 13.097656 10.824219 13.492188 C 10.816406 13.882813 11.039063 14.246094 11.390625 14.417969 C 11.746094 14.585938 12.167969 14.535156 12.46875 14.28125 C 17.101563 11.410156 22.996094 11 25 11 C 27.003906 11 32.898438 11.410156 37.53125 14.28125 C 37.832031 14.535156 38.253906 14.585938 38.609375 14.417969 C 38.960938 14.246094 39.183594 13.882813 39.175781 13.492188 C 39.164063 13.097656 38.925781 12.746094 38.5625 12.59375 C 36.253906 11.160156 33.785156 10.304688 31.53125 9.78125 C 31.59375 9.550781 31.644531 9.359375 31.71875 9.15625 C 32.859375 9.296875 37.292969 9.894531 40.3125 12.28125 C 40.507813 12.460938 41.1875 13.460938 41.8125 14.84375 C 42.4375 16.226563 43.09375 18.027344 43.71875 20.09375 C 44.9375 24.125 45.921875 29.097656 45.96875 33.65625 C 44.832031 35.496094 42.699219 36.863281 40.5 37.71875 C 38.5 38.496094 36.632813 38.84375 35.65625 38.9375 L 33.96875 36.65625 C 34.828125 36.378906 35.601563 36.078125 36.28125 35.78125 C 38.804688 34.671875 40.15625 33.5 40.15625 33.5 C 40.570313 33.128906 40.605469 32.492188 40.234375 32.078125 C 39.863281 31.664063 39.226563 31.628906 38.8125 32 C 38.8125 32 37.765625 32.957031 35.46875 33.96875 C 34.625 34.339844 33.601563 34.707031 32.4375 35.03125 C 32.167969 35 31.898438 35.078125 31.6875 35.25 C 29.824219 35.703125 27.609375 36 25 36 C 22.371094 36 20.152344 35.675781 18.28125 35.21875 C 18.070313 35.078125 17.8125 35.019531 17.5625 35.0625 C 16.394531 34.738281 15.378906 34.339844 14.53125 33.96875 C 12.234375 32.957031 11.1875 32 11.1875 32 C 10.960938 31.789063 10.648438 31.699219 10.34375 31.75 C 9.957031 31.808594 9.636719 32.085938 9.53125 32.464844 C 9.421875 32.839844 9.546875 33.246094 9.84375 33.5 C 9.84375 33.5 11.195313 34.671875 13.71875 35.78125 C 14.398438 36.078125 15.171875 36.378906 16.03125 36.65625 L 14.34375 38.9375 C 13.367188 38.84375 11.5 38.496094 9.5 37.71875 C 7.300781 36.863281 5.167969 35.496094 4.03125 33.65625 C 4.078125 29.097656 5.0625 24.125 6.28125 20.09375 C 6.90625 18.027344 7.5625 16.226563 8.1875 14.84375 C 8.8125 13.460938 9.492188 12.460938 9.6875 12.28125 C 12.707031 9.894531 17.140625 9.296875 18.28125 9.15625 Z M 18.5 21 C 15.949219 21 14 23.316406 14 26 C 14 28.683594 15.949219 31 18.5 31 C 21.050781 31 23 28.683594 23 26 C 23 23.316406 21.050781 21 18.5 21 Z M 31.5 21 C 28.949219 21 27 23.316406 27 26 C 27 28.683594 28.949219 31 31.5 31 C 34.050781 31 36 28.683594 36 26 C 36 23.316406 34.050781 21 31.5 21 Z M 18.5 23 C 19.816406 23 21 24.265625 21 26 C 21 27.734375 19.816406 29 18.5 29 C 17.183594 29 16 27.734375 16 26 C 16 24.265625 17.183594 23 18.5 23 Z M 31.5 23 C 32.816406 23 34 24.265625 34 26 C 34 27.734375 32.816406 29 31.5 29 C 30.183594 29 29 27.734375 29 26 C 29 24.265625 30.183594 23 31.5 23 Z"
            ></path>
          </svg>
      
          <span
            class="pointer-events-none absolute opacity-0 group-hover:opacity-100 group-hover:text-gray-700 group-hover:text-sm group-hover:-translate-y-10 duration-700"
          >
            Discord
          </span>
        </button>
      </section>
      
    </ul>
      
  </nav>
  <button id="mobile-menu-button" class="md:hidden">
    <div class="barras_menu">
      <span class="linea1__barras"></span>
      <span class="linea2__barras"></span>
      <span class="linea3__barras"></span>
  </div>
  </button>
</div>

    </header>
  


    <div id="mobile-menu" class="hidden w-full min-h-screen bg-gray-600 md:hidden fixed z-40">
      <nav class="p-4">
        <ul class="flex flex-col items-start justify-start w-full gap-2 font-semibold">
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-4 focus:outline-none hover:bg-gray-100 rounded-xl hover:text-gray-600 dropdown-toggle">
              Products
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
                <div class="grid items-stretch grid-cols-1 gap-6">
                  <div>
                    <p class="uppercase text-gray-500 font-medium text-[13px]">Main product</p>
                    <ul class="mt-3 text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-4 bg-red-200 rounded-xl">
                            <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Notifications
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                          <div class="p-4 bg-green-200 rounded-xl">
                            <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Analytics
                            <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                              business decision.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-4 bg-indigo-200 rounded-xl">
                            <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                            </svg>
                          </div>
                          <div>
                            Intregrations
                            <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                              date.</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Second product</p>
                    <ul class="mt-3 text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-4 bg-pink-200 rounded-xl">
                            <svg class="w-5 h-5 text-pink-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM8 7V9H16V7H8ZM8 11V13H16V11H8ZM8 15V17H13V15H8Z"></path></svg>
                          </div>
                          <div>
                            Documentation
                            <p class="text-xs font-normal text-gray-500">Comprehensive documentation will help you.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-4 bg-yellow-200 rounded-xl">
                            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM16.4524 8.22183L11.5019 13.1709L8.67421 10.3431L7.25999 11.7574L11.5026 16L17.8666 9.63604L16.4524 8.22183Z"></path></svg>
                          </div>
                          <div>
                            Security
                            <p class="text-xs font-normal text-gray-500">To ensure privacy, all information are encrypted and secure.</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-4 bg-purple-200 rounded-xl">
                            <svg class="w-5 h-5 text-purple-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 8C22.1046 8 23 8.89543 23 10V14C23 15.1046 22.1046 16 21 16H19.9381C19.446 19.9463 16.0796 23 12 23V21C15.3137 21 18 18.3137 18 15V9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9V16H3C1.89543 16 1 15.1046 1 14V10C1 8.89543 1.89543 8 3 8H4.06189C4.55399 4.05369 7.92038 1 12 1C16.0796 1 19.446 4.05369 19.9381 8H21ZM7.75944 15.7849L8.81958 14.0887C9.74161 14.6662 10.8318 15 12 15C13.1682 15 14.2584 14.6662 15.1804 14.0887L16.2406 15.7849C15.0112 16.5549 13.5576 17 12 17C10.4424 17 8.98882 16.5549 7.75944 15.7849Z"></path></svg>
                          </div>
                          <div>
                            Support
                            <p class="text-xs font-normal text-gray-500">Need help? Our customer support is there to help you.</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="flex-col items-center justify-start w-full p-4 mt-8 space-y-4 bg-green-50 rounded-xl">
                  <div class="space-y-2">
                    <h1 class="text-base font-bold text-green-800">Pricing</h1>
                    <p class="text-xs text-green-600">Learn more about our pricing model and get started with business.</p>
                  </div>
                  <button class="bg-green-500 py-2.5 px-4 rounded-lg font-medium text-sm text-green-50 hover:text-white hover:bg-green-800">Learn more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-4 focus:outline-none hover:bg-gray-100 rounded-xl hover:text-gray-600 dropdown-toggle">
              Features
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
                <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Best Features</p>
                <ul class="mt-3 text-[15px] space-y-4">
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                      <div class="p-4 bg-red-200 rounded-xl">
                        <svg class="w-5 h-5 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24">
                          <path
                            d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                          </path>
                        </svg>
                      </div>
                      <div>
                        Notifications
                        <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                          date.</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                      <div class="p-4 bg-green-200 rounded-xl">
                        <svg class="w-5 h-5 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24">
                          <path
                            d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                          </path>
                        </svg>
                      </div>
                      <div>
                        Analytics
                        <p class="text-xs font-normal text-gray-500">Analyze yoyr data to make more informed
                          business decision.</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                      <div class="p-4 bg-indigo-200 rounded-xl">
                        <svg class="w-5 h-5 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24">
                          <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                        </svg>
                      </div>
                      <div>
                        Intregrations
                        <p class="text-xs font-normal text-gray-500">Real time notifications always keep you up to
                          date.</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-4 focus:outline-none hover:bg-gray-100 rounded-xl hover:text-gray-600 dropdown-toggle">
              Benefits
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden w-full p-4 mt-2 bg-white rounded-lg dropdown">
              <div class="relative z-10">
                <a href="#"
                  class="block p-2 -mx-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:text-indigo-600">
                  Documentation
                  <p class="font-normal text-gray-500">Start integrating in no time</p>
                </a>
                <div class="grid grid-cols-1 gap-6 mt-6">
                  <div>
                    <p class="uppercase text-gray-500 font-medium text-[13px]">Main product</p>
                    <ul class="mt-3 text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-red-200 rounded-xl">
                            <svg class="w-4 h-4 text-red-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM9 21H15V23H9V21Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Notifications
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                          <div class="p-2 bg-green-200 rounded-xl">
                            <svg class="w-4 h-4 text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path
                                d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM11 7V17H13V7H11ZM15 11V17H17V11H15ZM7 13V17H9V13H7Z">
                              </path>
                            </svg>
                          </div>
                          <div>
                            Analytics
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-indigo-200 rounded-xl">
                            <svg class="w-4 h-4 text-indigo-500 fill-current" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24">
                              <path d="M3 3H11V11H3V3ZM3 13H11V21H3V13ZM13 3H21V11H13V3ZM13 13H21V21H13V13Z"></path>
                            </svg>
                          </div>
                          <div>
                            Intregrations
                              date.</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Second product</p>
                    <ul class="mt-3 text-[15px] space-y-4">
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-pink-200 rounded-xl">
                            <svg class="w-4 h-4 text-pink-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM8 7V9H16V7H8ZM8 11V13H16V11H8ZM8 15V17H13V15H8Z"></path></svg>
                          </div>
                          <div>
                            Documentation
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex items-center p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-yellow-200 rounded-xl">
                            <svg class="w-4 h-4 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM16.4524 8.22183L11.5019 13.1709L8.67421 10.3431L7.25999 11.7574L11.5026 16L17.8666 9.63604L16.4524 8.22183Z"></path></svg>
                          </div>
                          <div>
                            Security
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="flex p-2 -mx-2 space-x-2 font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:bg-green-50 hover:text-green-600">
                          <div class="p-2 bg-purple-200 rounded-xl">
                            <svg class="w-4 h-4 text-purple-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 8C22.1046 8 23 8.89543 23 10V14C23 15.1046 22.1046 16 21 16H19.9381C19.446 19.9463 16.0796 23 12 23V21C15.3137 21 18 18.3137 18 15V9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9V16H3C1.89543 16 1 15.1046 1 14V10C1 8.89543 1.89543 8 3 8H4.06189C4.55399 4.05369 7.92038 1 12 1C16.0796 1 19.446 4.05369 19.9381 8H21ZM7.75944 15.7849L8.81958 14.0887C9.74161 14.6662 10.8318 15 12 15C13.1682 15 14.2584 14.6662 15.1804 14.0887L16.2406 15.7849C15.0112 16.5549 13.5576 17 12 17C10.4424 17 8.98882 16.5549 7.75944 15.7849Z"></path></svg>
                          </div>
                          <div>
                            Support
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-4 focus:outline-none hover:bg-gray-100 rounded-xl hover:text-gray-600 dropdown-toggle">
              Supports
              <svg class="w-4 h-4 ml-2 stroke-current" fill="none" stroke="currentColor" stroke-width="1.5"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <div class="hidden p-4 mt-2 bg-white rounded-lg dropdown w-80">
              <div class="relative z-10">
                <ul class="mt-3 text-[15px] space-y-4">
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                      <div>
                        Notifications
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-green-600 transition duration-300 ease-in-out rounded-lg bg-green-50">
                      <div>
                        Analytics
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center p-2 -mx-2 space-x-2 font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-green-50 hover:text-green-600">
                      <div>
                        Intregrations
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="relative w-full">
            <button
              class="flex items-center w-full p-4 focus:outline-none hover:bg-gray-100 rounded-xl hover:text-gray-600 dropdown-toggle">
              Pricing
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <style>



.ocultar {
  display: none;
}

.navbar.scrolled {
  background-color: #f2790c;
}


.barras_menu {
  width: 30px;
  height: 30px;   
  cursor: pointer;
  
}

.barras_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

.activar1 {
  transform: rotate(45deg)
  translate(-2px, 1px);

}
.activar2 {
  opacity: 0;
  margin-left: -30px;
}

.activar3 {
  transform: rotate(-45deg)
  translate(-4px, 2px);
}


ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}




</style>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    const dropdownToggles = document.querySelectorAll('.dropdown-toggle');

    // hamburger menu
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
    // end hamburger menu

    // dropdown mobile
    dropdownToggles.forEach((toggle) => {
      toggle.addEventListener('click', () => {
        const dropdown = toggle.nextElementSibling;
        const otherDropdowns = document.querySelectorAll('.dropdown');

        otherDropdowns.forEach((d) => {
          if (d !== dropdown) {
            d.classList.add('hidden');

          }
        });

        dropdown.classList.toggle('hidden');
        toggle.querySelector('svg').classList.toggle('rotate-180');
      });
    });

    window.addEventListener('click', (event) => {
      if (!event.target.matches('.dropdown-toggle') && !event.target.closest('.dropdown')) {
        dropdownToggles.forEach((toggle) => {
          toggle.nextElementSibling.classList.add('hidden');
          toggle.querySelector('svg').classList.remove('rotate-180');
        });
      }
    });


document.querySelector(".barras_menu").addEventListener("click", animacion);

var linea1__barras = document.querySelector(".linea1__barras");
var linea2__barras = document.querySelector(".linea2__barras");
var linea3__barras = document.querySelector(".linea3__barras");

function animacion () {
    linea1__barras.classList.toggle("activar1")
    linea2__barras.classList.toggle("activar2")
    linea3__barras.classList.toggle("activar3")

}


window.addEventListener('scroll', function() {
    var navbar = document.querySelector('.navbar');
    if (window.scrollY > 50) { 
        navbar.classList.add('scrolled');
    } else {
        navbar.classList.remove('scrolled');
    }
});

document.addEventListener('scroll', function () {
      const scrollY = window.scrollY;
      const imagen1 = document.getElementById('imagen1');
      const imagen2 = document.getElementById('imagen2');

      if (scrollY > 50) { // Cambia este valor segn tus necesidades
        imagen1.classList.add('ocultar');
        imagen2.classList.remove('ocultar');
      } else {
        imagen1.classList.remove('ocultar');
        imagen2.classList.add('ocultar');
      }
    });
</script>