---
import BotonLimpio from "./BotonLimpio.astro";
---

<nav
  class="absolute w-full z-40 top-0 start-0 bg-[#f2790c] sm:z-20"
>
  <div
    class="flex flex-wrap items-center justify-between mx-auto p-8 sm:py-4 sm:px-8 me:py-4 mx-8 lg:px-12 lg:py-4"
  >
    <a href="" class="flex items-center">
      <img
        src="/public/img/fertrac-footerb.png"
        class="xl:h-20 sm:h-12 lg:h-16"
        alt=""
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="content-center">
        <div>
          <a href="#"
            ><i class="fa-solid fa-shop text-white text-2xl lg:block xl:hidden"></i></a>
        </div>
        <span class="sm:hidden md:hidden lg:hidden xl:block">
          <BotonLimpio
            textoBoton="Nuestra Tienda"
            iconoBoton="fa-solid fa-shop text-naranja text-lg"
          /></span
        >
      </div>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="items-center w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <i class="fa-solid fa-bars text-3xl"></i>
        <!-- <i class="fa-solid fa-xmark"></i> -->
      </button>
    </div>

    <div
    
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
    <div class="">
      <ul class="flex flex-col md:p-0 font-medium md:flex-row md:gap-10 sm:gap-y-9 sm:py-12">

        <li class="text-center sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-baseline">
          <i class="fa-solid fa-house text-white text-2xl pr-4	"></i>
          <span class="md:hidden xl:block">
            <a
              href="/inicio"
              class="block font-lato font-medium text-white text-lg rounded md:bg-transparent md:p-0"
              aria-current="page">Inicio</a
            >
          </span>
        </li>

        <li class="text-center sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-baseline">
          <i class="fa-solid fa-gear text-white text-2xl pr-4	"></i>
          <span class="md:hidden xl:block">
            <a
              href="/especialidades/"
              class="block font-lato font-medium text-lg text-white"
              >Especialidades</a
            >
          </span>
          <li class="text-center sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-baseline">
            <i class="fa-solid fa-wrench text-white text-2xl pr-4"></i>
            <span class="md:hidden xl:block">
              <a
                href="/especialidades/"
                class="block font-lato font-medium text-lg text-white"
                >Servicios</a
              >
            </span>
          </li>
        </li>
        <li class="text-center sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-baseline">
          <i class="fa-solid fa-users text-white text-2xl pr-4"></i>
          <span class="md:hidden xl:block">
            <a
              href="/especialidades/"
              class="block font-lato font-medium text-lg text-white"
              >Sobre Nosotros</a
            >
          </span>
        </li>
        <li class="text-center sm:flex sm:border-b md:border-none sm:pb-4 md:pb-0 items-baseline">
          <i class="fa-solid fa-phone text-white text-2xl pr-4"></i>
          <span class="md:hidden xl:block">
            <a
              href="/especialidades/"
              class="block font-lato font-medium text-lg text-white"
              >Contactanos</a
            >
          </span>
        </li>     
      </ul>
    </div>

      <div>
        <ul class="pb-4">
          <li class="md:hidden flex justify-around bg-white text-naranja text-3xl rounded-full p-5">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>

          </li>
        </ul>
      </div>
        
    </div>
  </div>
</nav>
