---
import BotonLimpio from "./BotonLimpio.astro";
import BotonRelleno from "./BotonRelleno.astro";

---

<nav
  class="navbar transition duration-1000 ease-in-out fixed bg-transparent transition background-color w-full z-40 top-0 start-0 sm:z-20 sm:bg-naranja md:bg-transparent"
>
  <div
    class="flex flex-wrap items-center justify-between mx-auto p-8 sm:py-4 sm:px-8 me:py-4 mx-8 lg:px-12 lg:py-4 2xl:mx-48"
  >
    <a href="" class="flex items-center ">
      <img id="imagen1"
        src="/public/img/fertrac-footer.png"
        class="xl:h-12 sm:h-12 lg:h-16 2xl:h-24 "
        alt=""
      />
      <img id="imagen2"
        src="/public/img/fertrac-footerb.png"
        class="ocultar xl:h-12 sm:h-12 lg:h-16 2xl:h-24"
        alt=""
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="content-center">
        <div>
          <a href="#"
            ><i class="fa-solid fa-shop text-white text-2xl lg:block xl:hidden"></i></a>
        </div>
        <span class="sm:hidden md:hidden lg:hidden xl:block">
          <div class="buttons sm:pt-4">
            <BotonLimpio
                textoBoton="Ver Tienda"
                iconoBoton="fa-solid fa-shop text-lg text-naranja"
            />
        </div>
          </span
        >
      </div>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="items-center w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false" 
      >
        <span class="sr-only">Open main menu</span>
        <i class="fa-solid fa-bars text-3xl"></i>
        <!-- <i class="fa-solid fa-xmark"></i> -->
      </button>
    </div>

    <div
    
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
    <div class="">
      <ul class="flex flex-col md:p-0 font-medium md:flex-row md:gap-4 sm:gap-y-9 sm:py-12 xl:gap-8 xl:text-base">
        <li class="transform transition-all duration-500 ease-in-out hover:scale-110 hover:bg-blue-900 hover:py-2 px-4 rounded">
          <a href="/inicio" class="text-center text-white sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-center 2xl:flex-row-reverse justify-between ">
            <span class="md:hidden xl:block font-lato font-black text-xl text-white">Inicio</span>
           <i class="fa-solid fa-house text-white text-2xl pr-4 xl:hidden 2xl:block"></i>
          </a>
        </li>
        
        <li class="transform transition-all duration-500 ease-in-out hover:scale-110 hover:bg-blue-900 hover:py-2 px-4 rounded">
          <a href="/inicio" class="text-center text-white sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-center 2xl:flex-row-reverse justify-between">
            <span class="md:hidden xl:block font-lato font-black text-xl text-white">Especialidades</span>
           <i class="fa-solid fa-gear text-white text-2xl pr-4 xl:hidden 2xl:block"></i>
          </a>
        </li>
        
        <li class="transform transition-all duration-500 ease-in-out hover:scale-110 hover:bg-blue-900 hover:py-2 px-4 rounded">
          <a href="/inicio" class="text-center text-white sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-center 2xl:flex-row-reverse justify-between ">
            <span class="md:hidden xl:block font-lato font-black text-xl text-white">Servicios</span>
           <i class="fa-solid fa-wrench text-white text-2xl pr-4 xl:hidden 2xl:block"></i>
          </a>
        </li>
        
        <li class="transform transition-all duration-500 ease-in-out hover:scale-110 hover:bg-blue-900 hover:py-2 px-4 rounded">
          <a href="/inicio" class="text-center text-white sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-center 2xl:flex-row-reverse justify-between">
            <span class="md:hidden xl:block font-lato font-black text-xl text-white">Sobre Nosotros</span>
           <i class="fa-solid fa-users text-white text-2xl pr-4 xl:hidden 2xl:block"></i>
          </a>
        </li>
        
        <li class="transform transition-all duration-500 ease-in-out hover:scale-110 hover:bg-blue-900 hover:py-2 px-4 rounded">
          <a href="/inicio" class="text-center text-white sm:flex sm:border-b md:border-none pb-4 md:pb-0 items-center 2xl:flex-row-reverse justify-between">
            <span class="md:hidden xl:block font-lato font-black text-xl text-white">Contacto</span>
           <i class="fa-solid fa-phone text-white text-2xl pr-4 xl:hidden 2xl:block"></i>
          </a>
        </li>
        

        
   
      </ul>
    </div>

      <div>
        <ul class="pb-4">
          <li class="md:hidden flex justify-around bg-white text-naranja text-3xl rounded-full p-5">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>

          </li>
        </ul>
      </div>
        
    </div>
  </div>
</nav>

<style>


  .ocultar {
    display: none;
  }

  .navbar.scrolled {
    background-color: #f2790c;
}
</style>

<script>

window.addEventListener('scroll', function() {
    var navbar = document.querySelector('.navbar');
    if (window.scrollY > 50) { 
        navbar.classList.add('scrolled');
    } else {
        navbar.classList.remove('scrolled');
    }
});

document.addEventListener('scroll', function () {
      const scrollY = window.scrollY;
      const imagen1 = document.getElementById('imagen1');
      const imagen2 = document.getElementById('imagen2');

      if (scrollY > 50) { // Cambia este valor según tus necesidades
        imagen1.classList.add('ocultar');
        imagen2.classList.remove('ocultar');
      } else {
        imagen1.classList.remove('ocultar');
        imagen2.classList.add('ocultar');
      }
    });

</script>