---
const { estilos } = Astro.props
const { text } = Astro.props
---


    <a href="#" class={` text-naranja font-lato font-bold sm:w-full lg:w-auto rounded text-center shadow-md hover:bg-transparent hover:text-white hover:border transition-all duration-500 ease-in-out transform active:bg-naranja ${estilos}`}>{text}</a>



