---
import MainButton from "./MainButton.astro"
---
<section class="services flex flex-col flex-wrap xl:gap-4 sm:gap-2 xl:mt-24 sm:mt-8 lg:mt-16 sm:px-4 ">
    <div class="flex flex-col items-center justify-center xl:gap-8 sm:gap-2">
        <h2>Nuestros Servicios</h2>
        <p class="lg:w-2/4 sm:w-full lg:text-center">
            Estamos comprometidos a ofrecer soluciones completas para el mantenimiento y reparación de tractocamiones.
        </p>
    </div>

    <div class="swiper-container xl:w-[950px] 2xl:w-[1000px] sm:w-auto mb-8 mx-auto">
        <div class="swiper-wrapper py-8">
            <!-- Slides -->

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 rounded-lg"
            >
                <div
                    class="content-wrapper max-w-sm bg-white border border-gray-200 rounded-lg shadow "
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/asesoria-tecnica.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                        >
                            Aseroria Tecnica
                        </h5>
                        <p
                            class="mb-3 font-normal"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-white text-white bg-naranja hover:border border-naranja hover:text-naranja lg:w-full"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 rounded-lg"
            >
                <div
                    class="content-wrapper max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/catalogo-quincenal.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Catalogo Quincenal
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-white text-white bg-naranja hover:border border-naranja hover:text-naranja lg:w-full"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>


            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 rounded-lg"
            >
                <div
                    class="content-wrapper max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/credito.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Financiamiento
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-white text-white bg-naranja hover:border border-naranja hover:text-naranja lg:w-full"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>

                        

            <div class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 rounded-lg">
                

                <div class="content-wrapper max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/public/img/asesoria-tecnica.jpg" alt="" />
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Aseroria Tecnica</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Te ayudamos a seleccionar los repuestos adecuados y resolver cualquier duda técnica que puedas tener. </p>
                        <MainButton text="Mas Información" estilos="hover:bg-white text-white bg-naranja hover:border border-naranja hover:text-naranja lg:w-full" icon="fa-solid fa-arrow-right"/>
                    </div>
                </div>
                
                            </div>

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 rounded-lg"
            >
                <div
                    class="content-wrapper max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/gestion-garantias.webp"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Gestion de Garantias
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-white text-white bg-naranja hover:border border-naranja hover:text-naranja lg:w-full"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>
            

        </div>
        <div class="swiper-pagination"></div>
    </div>
    
</section>

<style>
.swiper-container {
    height: 100%;
    overflow: hidden;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    max-width: 1000px; /* Ajusta el tamaño máximo si es necesario */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.swiper-slide {
    cursor: pointer;
    width: 100%; /* Asegura que las tarjetas ocupen todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    transition: transform 0.3s ease-in-out;
}

.swiper-wrapper {
    height: 80%;
}

.swiper-slide-active .content-wrapper {
    background-color: #cad1e3; /* Color de fondo para el div activo */
}

.content-wrapper {
    background-color: #f9ede4; /* Color de fondo por defecto */
    transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1080px) {
    .swiper-slide {
        width: 300px; /* Tamaño fijo de las tarjetas para pantallas grandes */
    }
}

@media (max-width: 360px) {
    .swiper-container {
        width: 100%; /* Asegura que el contenedor ocupe el ancho completo de la pantalla */
    }

    .swiper-slide {
        width: 100vw; /* Asegura que cada tarjeta ocupe todo el ancho de la pantalla */
    }
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Asegura que esté encima de otros elementos pero debajo del contenido */
}

.swiper-pagination-bullet {
    background: #000; /* Color de los bullets */
}

.swiper-pagination-bullet-active {
    background: #f57c00; /* Color del bullet activo */
}

</style>

<script>
    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

    var mySwiper = new Swiper(".swiper-container", {
        
        loop: true,
        speed: 1000,
        effect: "coverflow",
        grabCursor: false,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 0, // Reduce la rotación para evitar superposición
            stretch: 750, // Ajusta el espacio entre las tarjetas
            depth: 200, // Ajusta la profundidad de los elementos
            modifier: 1, // Intensidad del efecto
            slideShadows: false, // Sin sombras en los slides
        },
        autoplay: {
        delay: 10000, // Tiempo en milisegundos entre cada slide
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
        },

        pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
        breakpoints: {
        360: {
            slidesPerView: 1, // Muestra solo una tarjeta en pantallas de hasta 360px
            spaceBetween: 0, // Espacio entre tarjetas
        },
        1080: {
            slidesPerView: 3, // Muestra solo una tarjeta en pantallas de hasta 360px
            spaceBetween: 0, // Espacio entre tarjetas
        },
    },
    });
</script>