---
import MainButton from "./MainButton.astro";
---

<div>

  
  <div class="slider-container swiper 2xl:max-w-[1500px] xl:max-w-[1300px] w-full sm:py-0 sm:mb-10 lg:my-10 ">
    <div class="slider-content h-[450px] sm:px-4">
      <div class="card-wrapper swiper-wrapper ">

        <div class="swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">EJE DELANTERO</h3>
          </div>
    
          <img src="/public/img/EJE-DELANTERO.webp" alt="" class="h-[320px] pt-4">
          <div class="info px-4">
            <MainButton url="/especialidades/eje-delantero/" icon="fa-solid fa-arrow-right" text="Mas Sobre Eje Delantero" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>
          
        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">MOTOR</h3>
          </div>
    
          <img src="/public/img/motor.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/motor/" icon="fa-solid fa-arrow-right" text="Mas Sobre Motor" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">SUSPENSIÓN</h3>
          </div>
    
          <img src="/public/img/suspension.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/suspensión/" icon="fa-solid fa-arrow-right" text="Mas Sobre Suspensión" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">FILTRACIÓN</h3>
          </div>
    
          <img src="/public/img/FILTRACION.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/filtración/" icon="fa-solid fa-arrow-right" text="Mas Sobre Filtración" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">CARDAN</h3>
          </div>
    
          <img src="/public/img/CARDAN.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/cardan-y-diferencial" icon="fa-solid fa-arrow-right" text="Mas Sobre Cardan" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">DIFERENCIAL</h3>
          </div>
    
          <img src="/public/img/DIFERENCIAL.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/cardan-y-diferencial" icon="fa-solid fa-arrow-right" text="Mas Sobre Diferencial" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">EMBRAGUE Y TRANSMISIÓN</h3>
          </div>
    
          <img src="/public/img/EMBRAGUE.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/embrague-y-transmisión/" icon="fa-solid fa-arrow-right" text="Mas Sobre Embrague y Transmisión" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 !px-0 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">SISTEMA DE REFRIGERACIÓN</h3>
          </div>
    
          <img src="/public/img/SISTEMA-DE-REFRIGERACIÓN.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/sistema-de-refrigeración/" icon="fa-solid fa-arrow-right" text="Mas Sobre Sistema de Refrigeración" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 !px-0 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">RODAMIENTOS</h3>
          </div>
    
          <img src="/public/img/RODAMIENTOS.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/rodamientos/" icon="fa-solid fa-arrow-right" text="Mas Sobre Rodamientos" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 "/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">FRENADO</h3>
          </div>
    
          <img src="/public/img/SISTEMA-DE-AIRE-Y-FRENADO.webp" alt="imagen-representativa-sistema-de-frenado" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/sistema-de-aire-y-frenado/" icon="fa-solid fa-arrow-right" text="Mas Sobre Frenado" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 !px-0"/>
          </div>

        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">SISTEMA DE AIRE</h3>
          </div>
    
          <img src="/public/img/SISTEMA-DE-AIRE.webp" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="info px-4">
            <MainButton url="/especialidades/sistema-de-aire-y-frenado/" icon="fa-solid fa-arrow-right" text="Mas Sobre Sistema de Aire" estilos="w-full bg-naranja hover:bg-white hover:text-naranja hover:border border-naranja text-white mr-2 !px-0"/>
          </div>

        </div>

      </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>

  </div>

 
   

</div>


<style>
  .slider-container{
  width: 100%;

}
.slider-content {
  overflow: hidden;
}

.swiper-button-next{
  right: 0;
  color: #04297e;
}
.swiper-button-prev{
  left: 0;
  color: #04297e
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide img {
  height: auto;
  object-fit: cover;
  
}

@media screen and (max-width:800px) {
  .swiper-navBtn{
    display: block;
  }

  .swiper-button-next{
  right: 20px;

}
.swiper-button-prev{
  left: 20px;

}

  .group .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: none !important;
    }

    .group:hover .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}


.group .info {
        opacity: 0;
        transform: translateY(10px);
        transition: 0.5s ease, transform 0.5s ease;
    }
    
    .group:hover .info {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<script>

    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

  var swiper = new Swiper(".slider-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide:'true',
    fade:'true',
    grabCursor:'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets:true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
        0:{
            slidesPerView:1,
        },
        520:{
            slidesPerView:2,
        },
        950:{
            slidesPerView:3,
        },
    }
  });
</script>
