---

---

<div>

  <div>
    <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-3 lg:px-24 sm:items-start sm:p-8">
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">24+</dt>
          <dd class="text-gray-500 dark:text-gray-400">Marcas de repuestos</dd>
      </div>
     
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">25+</dt>
          <dd class="text-gray-500 dark:text-gray-400">Años de Experiencia en el mercado</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">12+</dt>
          <dd class="text-gray-500 dark:text-gray-400">Especialidades</dd>
      </div>
  </dl>
  </div>
  <div class="slider-container swiper 2xl:max-w-[1500px] xl:max-w-[1300px] w-full sm:py-0 sm:mb-10 lg:my-10">
    <div class="slider-content h-[450px]">
      <div class="card-wrapper swiper-wrapper ">

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">EJE DELANTERO</h3>
          </div>
    
          <img src="/public/img/EJE DELANTERO.png" alt="imagen2" class="h-[320px] pt-4">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">MOTOR</h3>
          </div>
    
          <img src="/public/img/motor.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">SUSPENSIÓN</h3>
          </div>
    
          <img src="/public/img/suspension.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">FILTRACIÓN</h3>
          </div>
    
          <img src="/public/img/FILTRACION.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <a href="#" class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
          </a>

        </div>


      </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>

  </div>

 
   

</div>


<style>
  .slider-container{
  width: 100%;

}
.slider-content {
  overflow: hidden;

  margin: 0 40px;
}

.swiper-button-next{
  right: 0;
  color: #04297e;
}
.swiper-button-prev{
  left: 0;
  color: #04297e
}


@media screen and (max-width:768px) {
  .slider-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: block;
  }

  .swiper-button-next{
  right: 20px;

}
.swiper-button-prev{
  left: 20px;

}

  .group .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: none !important;
    }

    .group:hover .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}


.group .info {
        opacity: 0;
        transform: translateY(10px);
        transition: 0.5s ease, transform 0.5s ease;
    }
    
    .group:hover .info {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<script>

    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

  var swiper = new Swiper(".slider-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide:'true',
    fade:'true',
    grabCursor:'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets:true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
        0:{
            slidesPerView:1,
        },
        520:{
            slidesPerView:2,
        },
        950:{
            slidesPerView:3,
        },
    }
  });
</script>
