---

---

<div>

  <div>
    <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-3 lg:px-24 sm:p-8">
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">24+</dt>
          <dd class="text-gray-500 dark:text-gray-400">Marcas de repuestos</dd>
      </div>
     
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">25 años</dt>
          <dd class="text-gray-500 dark:text-gray-400">Experiencia en el mercado</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-4xl font-extrabold text-azul">12+</dt>
          <dd class="text-gray-500 dark:text-gray-400">Especialidades</dd>
      </div>
  </dl>
  </div>
  <div class="slider-container swiper 2xl:max-w-[1500px] xl:max-w-[1300px] w-full py-10">
    <div class="slider-content h-[450px]">
      <div class="card-wrapper swiper-wrapper ">

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">EJE DELANTERO</h3>
          </div>
    
          <img src="/public/img/EJE DELANTERO.png" alt="imagen2" class="h-[320px] pt-4">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>

        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">MOTOR</h3>
          </div>
    
          <img src="/public/img/motor.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">SUSPENSIÓN</h3>
          </div>
    
          <img src="/public/img/suspension.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <div class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
        </div>
        </div>


        <div class=" swiper-slide  group rounded-lg border-2 shadow-lg pb-4">
          <div class="bg-naranja py-4 rounded-t-lg">
            <h3 class="text-white text-center">FILTRACIÓN</h3>
          </div>
    
          <img src="/public/img/FILTRACION.png" alt="imagen2" class="pt-4 h-[320px]">
          
          <a href="#" class="text-center info">
            <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
          </a>

        </div>


      </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>

  </div>

 
   

</div>


<style>
  .slider-container{
  width: 100%;
  padding: 40px 0;
}
.slider-content {
  overflow: hidden;

  margin: 0 40px;
}

.swiper-button-next{
  right: 0;
  color: #04297e;
}
.swiper-button-prev{
  left: 0;
  color: #04297e
}


@media screen and (max-width:768px) {
  .slider-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: block;
  }

  .swiper-button-next{
  right: 20px;

}
.swiper-button-prev{
  left: 20px;

}

  .group .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: none !important;
    }

    .group:hover .info {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}


.group .info {
        opacity: 0;
        transform: translateY(10px);
        transition: 0.5s ease, transform 0.5s ease;
    }
    
    .group:hover .info {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<script>

    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

  var swiper = new Swiper(".slider-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide:'true',
    fade:'true',
    grabCursor:'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets:true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
        0:{
            slidesPerView:1,
        },
        520:{
            slidesPerView:2,
        },
        950:{
            slidesPerView:3,
        },
    }
  });
</script>
<!-- <div class="bodi sm:my-8">
  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <ul class="carrusel h-full">
     
      <li class="card group h-fit bg-white border-2">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">EJE DELANTERO</h3>
        </div>

        <img src="/public/img/EJE DELANTERO.png" alt="imagen2">
        
        <div class="text-center info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>
      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">MOTOR</h3 >
        </div>

        <img src="/public/img/MOTOR.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>
      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">SUSPENSIÓN</h3>
        </div>

        <img src="/public/img/SUSPENSION.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>
      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">FILTRACIÓN</h3>
        </div>

        <img src="/public/img/FILTRACION.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>

      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">CARDAN Y DIFERENCIAL</h3>
        </div>

        <img src="/public/img/DIFERENCIAL.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>

      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">EMBRAGUE Y TRANSMISIÓN</h3>
        </div>

        <img src="/public/img/EMBRAGUES.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>

      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">SISTEMA DE REFRIGRACIÓN</h3>
        </div>

        <img src="/public/img/REFRIGERACION.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>

      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">RODAMIENTOS</h3>
        </div>

        <img src="/public/img/RODAMIENTO.png" alt="imagen2">

        <div class="text-center py-4 info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>

      <li class="card group h-fit bg-white border-2 ">

        <div class="bg-naranja flex justify-center gap-4 items-center py-2">
          <img src="/public/img/iso-fertrac.png" alt="" class="w-16 h-16">
          <h3 class="text-white">SISTEMA DE AIRE Y FRENADO</h3>
        </div>

        <img src="/public/img/FRENADO.png" alt="imagen2">


        
        <div class="text-center info">
          <h4 class="bg-naranja text-white display inline-block py-2 px-4 rounded info hover:bg-white hover:border border-naranja hover:text-naranja">Mas Información</h4>
      </div>
      </li>


    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
</div> -->

<!-- <style>


    .group .info {
        opacity: 0;
        transform: translateY(10px);
        transition: 0.5s ease, transform 0.5s ease;
    }
    
    .group:hover .info {
        opacity: 1;
        transform: translateY(0);
    }



.bodi {
  display: flex;

  padding: 0 35px;
  align-items: center;
  justify-content: center;


}

.info {
  margin-bottom: 10px;
}
.wrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carrusel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carrusel::-webkit-scrollbar {
  display: none;
}
.carrusel.no-transition {
  scroll-behavior: auto;
}
.carrusel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carrusel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carrusel .card {
  display: flex;
  justify-content: space-between;
  scroll-snap-align: start;
  height: 550px;
  max-height: 550px;
  list-style: none;
  background: #white;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
}



@media screen and (max-width: 900px) {
  .wrapper .carrusel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carrusel {
    grid-auto-columns: 100%;
  }
}

</style>
 -->
<!-- <script>

const wrapper = document.querySelector(".wrapper");
const carrusel = document.querySelector(".carrusel");
const firstCardWidth = carrusel.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".wrapper i");
const carruselChildrens = [...carrusel.children];
let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;
// Get the number of cards that can fit in the carrusel at once
let cardPerView = Math.round(carrusel.offsetWidth / firstCardWidth);
// Insert copies of the last few cards to beginning of carrusel for infinite scrolling
carruselChildrens.slice(-cardPerView).reverse().forEach(card => {
    carrusel.insertAdjacentHTML("afterbegin", card.outerHTML);
});
// Insert copies of the first few cards to end of carrusel for infinite scrolling
carruselChildrens.slice(0, cardPerView).forEach(card => {
    carrusel.insertAdjacentHTML("beforeend", card.outerHTML);
});
// Scroll the carrusel at appropriate postition to hide first few duplicate cards on Firefox
carrusel.classList.add("no-transition");
carrusel.scrollLeft = carrusel.offsetWidth;
carrusel.classList.remove("no-transition");
// Add event listeners for the arrow buttons to scroll the carrusel left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        carrusel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
    });
});
const dragStart = (e) => {
    isDragging = true;
    carrusel.classList.add("dragging");
    // Records the initial cursor and scroll position of the carrusel
    startX = e.pageX;
    startScrollLeft = carrusel.scrollLeft;
}
const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the carrusel based on the cursor movement
    carrusel.scrollLeft = startScrollLeft - (e.pageX - startX);
}
const dragStop = () => {
    isDragging = false;
    carrusel.classList.remove("dragging");
}
const infiniteScroll = () => {
    // If the carrusel is at the beginning, scroll to the end
    if(carrusel.scrollLeft === 0) {
        carrusel.classList.add("no-transition");
        carrusel.scrollLeft = carrusel.scrollWidth - (2 * carrusel.offsetWidth);
        carrusel.classList.remove("no-transition");
    }
    // If the carrusel is at the end, scroll to the beginning
    else if(Math.ceil(carrusel.scrollLeft) === carrusel.scrollWidth - carrusel.offsetWidth) {
        carrusel.classList.add("no-transition");
        carrusel.scrollLeft = carrusel.offsetWidth;
        carrusel.classList.remove("no-transition");
    }
    // Clear existing timeout & start autoplay if mouse is not hovering over carrusel
    clearTimeout(timeoutId);
    if(!wrapper.matches(":hover")) autoPlay();
}
/* const autoPlay = () => {
    if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
    // Autoplay the carrusel after every 2500 ms
    timeoutId = setTimeout(() => carrusel.scrollLeft += firstCardWidth, 2500);
} */
autoPlay();
carrusel.addEventListener("mousedown", dragStart);
carrusel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carrusel.addEventListener("scroll", infiniteScroll);
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);
</script>
 -->