---

import BotonSimple from "./BotonSimple.astro";

---

    <section class="flex flex-col">

    <div class="flex justify-center flex-wrap gap-x-10 sm:mx-5 sm:gap-y-10 lg:my-28 xl:mx-60">
        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs"
         max-w-xs>
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

            <div class="m-4 mx-6">

                <h1 class="text-3xl mb-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
            </div>
        </section>

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs 	"
        >
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="drop-shadow-2xl object-cover" src="/public/img/c3.png" alt="" />
            </div>

            <div class="m-4 mx-6">
                
                <h1 class="text-3xl mb-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
            </div>
        </section>

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs	"
        >
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="drop-shadow-2xl object-cover" src="/public/img/c1.png" alt="" />
            </div>

            <div class="m-4 mx-6">
                
                <h1 class="text-3xl mb-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
            </div>
        </section>

        
        <div class="flex text-3xl sm:pb-4 text-6xl sm:text-3xl text-azul items-center gap-8">
            <h3>
                Tenemos preparados algunos productos en promoción, <br>contactate con nosotros para obtener mas información
            </h3>
            <BotonSimple textoBoton="WhatsApp"/>
            
        </div>
        
        
        
    </div>

    </section>

