---
import BotonSimple from "./BotonSimple.astro";
---

<section class="container mx-auto md:mb-52 md:mt-16 px-0">
    <section
        class="p-5 md:p-0 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-10 items-start"
    >

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja"
        >
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

            <div class="my-10 mx-6">

                <h1 class="text-3xl my-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
                <BotonSimple textoBoton="Mas Información" />
            </div>
        </section>

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja"
        >
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="drop-shadow-2xl object-cover" src="/public/img/c3.png" alt="" />
            </div>

            <div class="my-10 mx-6">
                
                <h1 class="text-3xl my-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
                <BotonSimple textoBoton="Mas Información" />
            </div>
        </section>

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja"
        >
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-white bg-black my-4 py-1 z-30 absolute px-4 gap-2 items-baseline rounded-r-lg shadow-md left-px top-0.5"
                >
                    <h3>Promoción</h3>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <img class="drop-shadow-2xl object-cover" src="/public/img/c1.png" alt="" />
            </div>

            <div class="my-10 mx-6">
                
                <h1 class="text-3xl my-5 font-myriad font-black">
                    Nombre del producto
                </h1>
                <p class="mb-5 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio, incidunt!
                </p>
                <BotonSimple textoBoton="Mas Información" />
            </div>
        </section>

    </section>
</section>
