
    <section class="flex flex-col">

    <div class="flex justify-center flex-wrap gap-x-10 sm:mx-5 sm:gap-y-10 lg:my-28 2xl:mx-60">

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs"
         max-w-xs>
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-black bg-white my-4 py-1 z-30 absolute px-4 gap-2 rounded-r-lg shadow-md left-0 top-0.5 items-center"
                style="-webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);">
                    <h3>FILTRACIÓN</h3>
                    <img src="/public/img/filtración.png" alt="" class="w-8">
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

        </section>

        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs"
         max-w-xs>
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-black bg-white my-4 py-1 z-30 absolute px-4 gap-2 rounded-r-lg shadow-md left-0 top-0.5 items-center"
                style="-webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);">
                    <h3>DIFERENCIAL</h3>
                    <img src="/public/img/diferencial.png" alt="" class="w-8">
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

        </section>
        <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs"
         max-w-xs>
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-black bg-white my-4 py-1 z-30 absolute px-4 gap-2 rounded-r-lg shadow-md left-0 top-0.5 items-center"
                style="-webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);">
                    <h3>MOTOR</h3>
                    <img src="/public/img/motorn.png" alt="" class="w-8">
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

        </section>
<!--         <section
            class="text-center transform duration-500 hover:scale-110 cursor-pointer shadow-lg rounded-lg hover:border border-naranja max-w-xs"
         max-w-xs>
            <div
                class="bg-naranja rounded-t-lg p-8 flex align-center justify-center h-96"
            >
                <div
                    class="text-xl flex text-black bg-white my-4 py-1 z-30 absolute px-4 gap-2 rounded-r-lg shadow-md left-0 top-0.5 items-center"
                style="-webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);
                box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.47);">
                    <h3>RODAMIENTOS</h3>
                    <img src="/public/img/rodamientos.png" alt="" class="w-8">
                </div>
                <img class="object-cover drop-shadow-2xl" src="/public/img/c2.png" alt=""/>
            </div>

        </section>
 -->
        
    </div>

    </section>

