<section class="Testimonials lg:mb-24 lg:px-14 sm:mb-4 mt-8 sm:px-4">
  <div class="flex flex-col items-center justify-center lg:gap-8 sm:gap-2 mb-4">
    <h2>
        Testimonios
    </h2>
    <p class="lg:w-2/4 text-center">
      Sus experiencias reflejan nuestro compromiso con la satisfacción y la confianza que han depositado en nosotros.
    </p>
  </div>
    <div class="swiper-container relative carrusel2 overflow-hidden mx-auto 2xl:max-w-[1500px] xl:max-w-[2000px] w-full sm:py-0 sm:mb-10 lg:my-10">
        <div class="card-wrapper swiper-wrapper ">
  
          <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#faf4f2] rounded-lg">
            <div class="flex w-full gap-5 items-center">
                <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                    <img src="/public/img/avatar-1.png" alt="" class="bg-cover">
                </div>
                <div class="name flex flex-col font-lato">
                    <span class="text-xl pb-2 font-bold">Ricardo Pérez</span>
                    <span class="text-base text-black font-semibold">Gerente Comercial</span>
                    <span class="text-gray-700">DISTRIPARTES MORENO S.A.S
                    </span>
                </div>
                
            </div>
            <div class="text-2xl text-[#f19700] py-4">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-lg font-semibold tracking-widest">"Mi experiencia de compra con FERTRAC ha sido positiva. La empresa se caracteriza por su cumplimiento en la entrega de la mercancía, el amplio portafolio de productos originales y  su gestión oportuna en la respuesta del proceso de garantías."</p>
          </div>
  
  
         <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#faf4f2] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar-3.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Carlos Arturo Casallas Bernal</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">CTC S.A.S</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-[#f19700] py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Fertrac ha sido un aliado estratégico en el crecimiento de nuestra compañía. La excelencia en el servicio y la calidad  de repuestos suministrados La calidad del personal siempre dispuesto para prestarnos una correcta asesoría y un servicio oportuno "</p>
            </div>
  
  
            <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#faf4f2] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar-4.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Brayan Giraldo</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">Solo Camiones S.A.S</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-[#f19700] py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Quisiera dar a conocer y expresar que estoy contento con el servicio prestado por parte de la empresa fertrac y de su asesor de ventas Daniel rodríguez, los cuales de la mano me han ayudado muchas veces y han sacado de apuros en algunas ocasiones"</p>
            </div>
  
  
            <div class=" swiper-slide w-full flex flex-col justify-start items-center relative lg:p-10 sm:p-5 gap-5 bg-[#faf4f2] rounded-lg">
              <div class="flex w-full gap-5 items-center">
                  <div class="img-box w-[100px] h-[100px] rounded-full border-2 border-black">
                      <img src="/public/img/avatar-2.png" alt="" class="bg-cover">
                  </div>
                  <div class="name flex flex-col font-lato">
                      <span class="text-xl pb-2 font-bold">Allison</span>
                      <span class="text-base text-black font-semibold">Asesor Comercial</span>
                      <span class="text-gray-700">Duitama</span>
                  </div>
                  
              </div>
              <div class="text-2xl text-[#f19700] py-4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <p class="text-lg font-semibold tracking-widest">"Quisiera tomarme un momento para expresar mi más sincero agradecimiento a Nikol Martinez por su excelente labor como asesora comercial. Su dedicación y profesionalismo han sido fundamentales para que podamos tomar decisiones informadas y acertadas para nuestra área de compras. "</p>
            </div>
  
      </div>
      <div class="swiper-button-next carrusel2-next"></div>
      <div class="swiper-button-prev carrusel2-prev"></div>
  </div>
  <div class="swiper-pagination carrusel2-pagination"></div>
</section>



<style>

 .swiper-pagination-bullet {
            background-color: #ff0000 !important; /* Color inicial de los bullets */
            opacity: 1 !important; /* Para asegurar que el color se vea bien */
        }

        .swiper-pagination-bullet-active {
            background-color: #f2790c !important; /* Color de los bullets activos */
            transform: scale(1.2) !important; /* Aumenta el tamaño del bullet activo */
        }

        .swiper-container {
            width: 100%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #f2790c;
            position: absolute;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-pagination {
            position: relative;
        }
</style>

<script>

    import Swiper from "swiper/bundle";
    import "swiper/swiper-bundle.css";

  var swiper = new Swiper(".carrusel2", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide:'true',
    fade:'true',
    grabCursor:'true',
    pagination: {
      el: ".carrusel2-pagination",
      clickable: true,
      dynamicBullets:true,
    },
    navigation: {
      nextEl: ".carrusel2-next",
      prevEl: ".carrusel2-prev",
    },
    breakpoints:{
        0:{
            slidesPerView:1,
        },
        520:{
            slidesPerView:2,
        },
        950:{
            slidesPerView:3,
        },
    },
  });
</script>
