---
import MainButton from "../MainButton.astro";
---

<section class="services flex flex-col flex-wrap lg:gap-8 sm:gap-2 lg:my-24  sm:px-4">
    <div class="flex flex-col items-center justify-center lg:gap-8 sm:gap-2">
        <h2>Nuestros Servicios</h2>
        <h4 class="lg:w-2/4 text-center">
            Estamos comprometidos a ofrecer soluciones completas para el mantenimiento y reparación de tractocamiones.
        </h4>
    </div>

    <div class="swiper-container xl:w-[500px] 2xl:w-[1000px] sm:w-auto lg:mb-8 mx-auto">
        <div class="swiper-wrapper">
            <!-- Slides -->

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 bg-[#e2e4ed] rounded-lg"
            >
                <div
                    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/asesoria-tecnica.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Aseroria Tecnica
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-transparent hover:border border-naranja hover:text-naranja"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 bg-[#e2e4ed] rounded-lg"
            >
                <div
                    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/catalogo-quincenal.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Catalogo Quincenal
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-transparent hover:border border-naranja hover:text-naranja"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>


            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 bg-[#e2e4ed] rounded-lg"
            >
                <div
                    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/credito.jpg"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Financiamiento
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-transparent hover:border border-naranja hover:text-naranja"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>

                        

            <div class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 bg-[#e2e4ed] rounded-lg">
                

                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/public/img/asesoria-tecnica.jpg" alt="" />
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Aseroria Tecnica</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Te ayudamos a seleccionar los repuestos adecuados y resolver cualquier duda técnica que puedas tener. </p>
                        <MainButton text="Mas Información" estilos="hover:bg-transparent hover:border border-naranja hover:text-naranja" icon="fa-solid fa-arrow-right"/>
                    </div>
                </div>
                
                            </div>

            <div
                class="swiper-slide w-full flex flex-col justify-start items-center relative gap-5 bg-[#e2e4ed] rounded-lg"
            >
                <div
                    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <img
                        class="rounded-t-lg"
                        src="/public/img/gestion-garantias.webp"
                        alt=""
                    />
                    <div class="p-5">
                        <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Gestion de Garantias
                        </h5>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Te ayudamos a seleccionar los repuestos adecuados y
                            resolver cualquier duda técnica que puedas tener.
                        </p>
                        <MainButton
                            text="Mas Información"
                            estilos="hover:bg-transparent hover:border border-naranja hover:text-naranja"
                            icon="fa-solid fa-arrow-right"
                        />
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<style>
.swiper-container {
    height: 100%;
    overflow: hidden;
    width: 100%; /* Asegura que el contenedor use el ancho disponible */
    padding: 0 20px; /* Añade un poco de espacio lateral para pantallas pequeñas */
}

.swiper-slide {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Asegura que el slide ocupe todo el ancho del contenedor */
    max-width: 300px; /* Máximo ancho del slide */
}

.swiper-wrapper {
    height: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .swiper-slide {
        max-width: 250px; /* Ajusta el tamaño para pantallas medianas */
    }
}

@media screen and (max-width: 480px) {
    .swiper-slide {
        max-width: 100%; /* Ajusta el slide para que ocupe todo el ancho disponible en pantallas pequeñas */
    }

    .swiper-container {
        padding: 0; /* Quita el espacio lateral en pantallas pequeñas */
    }
}


</style>

<script>
   import Swiper from "swiper/bundle";
import "swiper/swiper-bundle.css";

var mySwiper = new Swiper(".swiper-container", {
    loop: true,
    speed: 1000,
    effect: "coverflow",
    grabCursor: true, // Cambia a true si deseas que el cursor se convierta en mano
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
        rotate: 0, // Reduce la rotación para evitar superposición
        stretch: 100, // Ajusta el espacio entre las tarjetas
        depth: 200, // Ajusta la profundidad de los elementos
        modifier: 1, // Intensidad del efecto
        slideShadows: false, // Sin sombras en los slides
    },
    breakpoints: {
        768: {
            slidesPerView: 2, // Muestra 2 slides en pantallas medianas
            coverflowEffect: {
                stretch: 150, // Ajuste para pantallas medianas
            },
        },
        480: {
            slidesPerView: 1, // Muestra 1 slide en pantallas pequeñas
            coverflowEffect: {
                stretch: 50, // Ajuste para pantallas pequeñas
            },
        },
    },
});


</script>
