---
import BlogLayout from "../components/Blog/BlogLayout.astro";

const { frontmatter, image } = Astro.props;


---

<BlogLayout title={frontmatter.title}>

    <img src={frontmatter.image.url} alt="">
    <slot/>

    
    <p>prueba titulo {frontmatter.author}</p>
    <p>prueba fecha {frontmatter.pubDate.slice(0, 10)}</p>
</BlogLayout>
