---
import BlogLayout from "../components/Blog/BlogLayout.astro";
import PostImage from "../components/Blog/PostImage.astro";

const { frontmatter, image } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
    
    <div>
        <slot />
        <p>prueba titulo {frontmatter.author}</p>
        <p>prueba fecha {frontmatter.pubDate.slice(0, 10)}</p>
    </div>
</BlogLayout>
